<section class="ml-advantage">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
          <h1 class="ml-doc-title text-center">The SmartWinnr Advantage <a class="btn btn-warning" href="./?q=node/12">Request for demo</a> </h1>
      </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-3">
            <div class="single-service padding">
                <div class="text-center home_icon">
                  <span class="icon-power fs80 icon_white"></span>
                    <!-- <img alt="" class="sideimage" src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/home/intuitive.svg"> -->
                </div>
                <h2 class="ml_h2 colorband text-center">Intuitive and Easy-to-use</h2>
                <p class="ml_body_text_white ml_f18 first_letter_capital">
                  Our customers love the simplicity of SmartWinnr. Executives with limited time can take quizzes and read feeds with just a few clicks on their smartphones.
                </p>
            </div>
        </div>
        <div class="col-md-3 col-sm-3">
            <div class="single-service padding">
                <div class="text-center home_icon">
                  <span class="icon-speed-fast fs80 icon_white"></span>
                    <!-- <img alt="" class="sideimage" src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/home/ready_in_minutes.svg"> -->
                </div>
                <h2 class="ml_h2 colorband text-center">Ready to Go in Minutes</h2>
                <p class="ml_body_text_white ml_f18 first_letter_capital">
                  SmartWinnr’s intuitive interface lets you create and assign quizzes and feeds in minutes. Save time by scheduling quizzes/feeds in advance. Reuse questions and feeds from a central repository.
                </p>
            </div>
        </div>
        <div class="col-md-3 col-sm-3">
            <div class="single-service padding">
                <div class="text-center home_icon">
                  <span class="icon-file-preview fs80 icon_white"></span>
                  <!-- <img alt="" class="sideimage" src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/home/realtime_actionable_insights.svg"> -->
                </div>
                <h2 class="ml_h2 colorband text-center">Real-time Actionable Insights</h2>
                <p class="ml_body_text_white ml_f18 first_letter_capital">
                  SmartWinnr’s proprietary 'Knowledge Analytics Predictive Engine' (KAPE™) provides real-time insights that help you to identify knowledge gaps at an individual, team and geography level. Take corrective actions before the knowledge gap impacts your business goals.
                </p>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 ">
            <div class="single-service padding">
                <div class="text-center home_icon">
                  <span class="icon-lan fs80 icon_white"></span>
                  <!-- <img alt="" class="sideimage" src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/home/realtime_actionable_insights.svg"> -->
                </div>
                <h2 class="ml_h2 colorband text-center">Built for the Enterprise</h2>
                <p class="ml_body_text_white ml_f18 first_letter_capital">
                  SmartWinnr is built from ground up as an Enterprise performance tool. Fortune 500 companies in regulated industries rely on SmartWinnr because of the enterprise-grade compliance, security, and support that we provide.
                </p>
            </div>
        </div>
    </div>
  </div>
</section>
