<img class="swoop-top" src="/images/swoop_mask.min.svg">
<section class="ml-chooseQP">
  <div class="container ml-margin-top50">
    <div class="row">
      <div class="col-sm-7">
        <iframe class="ml-youtube-video" frameborder="0" allowfullscreen="" src="https://www.youtube.com/embed/Ym_0EIl-JDQ"></iframe>
        </iframe>
      </div>
      <div class="col-sm-5 ml-centered text-center">
        <h3>Smarter Executives = Higher Performance</h3>
        <p>
          Teams having regular knowledge reinforcement see 20% improved performance. SmartWinnr helps to enhance knowledge and drive superior performance.
        </p>
        <a class="btn btn-warning" href="https://smartwinnr.com/?q=node/12">Request for demo</a>
      </div>
    </div>
  </div>
</section>
