<img class="swoop" src="/images/swoop_mask.min.svg">
<section class="ml-chooseQP">
  <div class="ml-container ml-margin-top50">
    <div class="row">
      <div class="col-sm-7">
        <iframe class="ml-youtube-video" frameborder="0" allowfullscreen="" src="https://www.youtube.com/embed/Ym_0EIl-JDQ"></iframe>
        </iframe>
      </div>
      <div class="col-sm-5 text-center">
        <!-- <h3>Smarter Executives = Higher Performance</h3> -->
        <h1>Smarter Executives = Higher Performance</h1>
        <p>
          Teams having regular knowledge reinforcement see 20% improved performance. SmartWinnr helps to enhance knowledge and drive superior performance.
        </p>
        <p align="center" class="ml-padding-top ml-padding-bottom10"><a class="ml-button-blue" align="center" href="/request-demo">Request for demo</a></p>
      </div>
    </div>
  </div>
</section>
