<section>
  <!-- <div class="ml-green-tile padding100">
    <div class="row text-center ml-container">
      <h2>SmartWinnr</h2>
      <h3>We help your employees to be at the top of their game.</h3>
    </div>
  </div> -->
  <div class="ml-whySM">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <h1 class="ml_body_text_white text-center">SmartWinnr</h1>
          <p class="ml_body_text_white text-center">We help your employees to be at the top of their game.</p>
          <p align="center" class="ml-padding-top ml-padding-bottom10"><a class="ml-button" align="center" href="/request-demo">Request demo</a></p>
        </div>
      </div>
    </div>
  </div>
  <div id="team" class="ml-this-tile ml-container">
    <div class="row padding30 text-center">
      <h1 class="ml-title">Our mission is to help your team achieve their true potential.</h1>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
        <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/thub.jpg" class="pfbigimage image80" /></div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h2 class="ml-title text-center">The Founders</h2>
        <!-- <p class="ml_body_text_black">
          Smartwinnr was created to address the need of enterprises to make learning fun and engaging for their employees.
        </p> -->
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h2 class="ml-title-blue">Shiladitya Mallik</h2>
            <p class="ml_body_text_black">
              An ISB grad and having spent 6 years as Head of International Business with ISB's Centre for Executive Education, Shiladitya has an in-depth understanding about learning, what motivates people to learn and how to make learning fun and engaging.
            </p>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h2 class="ml-title-blue">Anindita Banik</h2>
            <p class="ml_body_text_black">
              Prior to Smartwinnr, Anindita worked at Accenture and TCS and helped some of the biggest enterprises with their IT strategy and implementation.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="enterprisefeatures" class="container">
    <div class="row text-center">
      <h1 class="ml-title ml-margin-bottom0">Its our values that keep us together.</h1>
      <p class="ml_body_text_black">Our shared values as a company keep us connected. </p>
    </div>
    <!-- Product Features Row 2 -->
    <div class="row ml-prodfeaturerow padding30">
      <div class="row text-center">
          <p class="ml-title-blue">Respect for Individual</p>
          <p class="ml_body_text_black">We believe that everyone should be treated respectfully and equally.</p>
      </div>
      <div class="row text-center">
          <p class="ml-title-blue">Integrity in Thought and Action</p>
          <p class="ml_body_text_black">We believe in upholding the highest level of integrity in our thoughts and actions.</p>
      </div>
      <div class="row text-center">
          <p class="ml-title-blue">Curiosity</p>
          <p class="ml_body_text_black">A curious mind is a learning mind. We believe in having people who are willing to ask new questions and find new answers to old questions.</p>
      </div>
      <div class="row text-center">
          <p class="ml-title-blue">Passion for Performance</p>
          <p class="ml_body_text_black">We believe that each action should be done to the best of our ability and we should strive for being the best in everything we do.</p>
      </div>
      <div class="row text-center">
          <p class="ml-title-blue">Customer Centricity</p>
          <p class="ml_body_text_black">Customer is first, always. Everything we do is aligned to help our customers drive better results.</p>
      </div>
      <div class="row text-center">
          <p class="ml-title-blue">Continuous Improvement</p>
          <p class="ml_body_text_black">We believe in having a perpetual drive for making things better, not being satisfied with the status quo of today.</p>
      </div>
    </div>
  </div>
  <!-- <div class="ml-green-tile padding30">
    <div class="container row">
      <div class="col-sm-7">
        <h1 class="ml-title">Come and Join Us</h1>
        <p>We can do great things together!</p>
      </div>
      <div class="col-sm-5 padding30">
        <a class="btn btn-warning" href="./?q=jobs">Join Our Team</a>
      </div>
    </div>
  </div> -->
  <section class="ml-whySM">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <h1 class="ml_body_text_white text-center">Come and Join Us</h1>
          <p class="ml_body_text_white text-center">We can do great things together!</p>
          <p align="center" class="ml-padding-top ml-padding-bottom10"><a class="ml-button" align="center" href="/jobs">Join Our Team</a></p>
        </div>
      </div>
    </div>
  </section>
</section>
