<section>
  <div class="ml-green-tile padding100">
    <div class="row text-center container">
      <h2>Our Company</h2>
      <h3>We help your employees to be at the top of their game.</h3>
      <div> <a class="colorbox-node btn btn-warning" href="./?q=node/12">Request for demo</a></div>
    </div>
  </div>
  <div id="enterprisefeatures" class="container">
      <div class="row padding30 text-center">
        <h1 class="ml-title ml-margin-bottom0">Get set up for success</h1>
        <p class="ml_body_text_black">Our team will be with you every step of the way</p>
      </div>
      <!-- Product Features Row 2 -->
      <div class="row ml-prodfeaturerow padding30px">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator ml-prodfeaturecell">
            <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/data_centre_secuirty.svg" class="qpicon" /><h4 class="ml_h4 title text-center">Deploy SmartWinnr with our help</h4>
            <p class="ml_body_text_black ml_f15">Our dedicated team will help you configure and setup SmartWinnr that best suits your business needs. We will share our expertise and experience in deploying SmartWinnr in large enterprises.</p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator ml-prodfeaturecell">
            <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/encryption_data_at_rest.svg" class="qpicon" /><h4 class="ml_h4 title text-center">Onboarding</h4>
            <p class="ml_body_text_black ml_f15">We will create a customized rollout plan and communication strategy that will help in getting quick adoption within your user base. We help you to adopt best practices for long-term success and drive higher RoI.</p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator ml-prodfeaturecell">
            <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/encryption_data_in_motion.svg" class="qpicon" /><h4 class="ml_h4 title text-center">Training and Support</h4>
            <p class="ml_body_text_black ml_f15">We will be here to answer questions, provide training, and support your team as you deploy and use SmartWinnr.</p>
          </div>
        </div>
      </div>
  </div>
</section>
