<section id="content-outer-wrapper" class="outer-wrapper clearfix">
    <div id="main-layout" class="main-layout inner-wrapper clearfix with--content without--sidebar-first without--sidebar-second">
      <main id="content" class="region--content column" role="main">
          <div class="region region-content">
    <div id="block-system-main" class="block block-system">


  <div class="content">
    <article id="node-5" class="node node-page node-type--page node-zebra--odd node-view-mode--full node-language--und node-author--admin node-sticky--false node-published--true node-promoted--false node-comments--enabled clearfix" about="/?q=customer-success" typeof="foaf:Document">


      <span property="dc:title" content="Customer Success" class="rdf-meta element-hidden"></span><span property="sioc:num_replies" content="0" datatype="xsd:integer" class="rdf-meta element-hidden"></span>

  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><div class="se-container paddingtop62px ng-scope">
  <div class="custsuc_slide" id="customer-success">
        <div class="container h-100">
            <div class="homebox row">
              <div class="text-center homebigtext">
                <h2 class="ml_h2">Customer Success Programme</h2>
                <h3 class="ml_h3 desc_text paddingbottom25px">We help enterprises get the most out of SmartWinnr with world-class onboarding and deployment support.</h3>
                <div class="text-center">
                  <a class="colorbox-node btn btn-warning" href="./?q=node/12">Request for demo</a>
                    <div></div>
                </div>
              </div>
            </div>
        </div>
  </div>
  <div id="enterprisefeatures">
      <div class="row padding30px text-center">
        <h1 class="ml_h1 title">Get set up for success</h1>
        <p class="ml_body_text_black ml_f15">Our team will be with you every step of the way</p>
      </div>
      <!-- Product Features Row 2 -->
      <div class="row prodfeaturerow padding30px">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator prodfeaturecell">
            <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/data_centre_secuirty.svg" class="qpicon" /><h4 class="ml_h4 title text-center">Deploy SmartWinnr with our help</h4>
            <p class="ml_body_text_black ml_f15">Our dedicated team will help you configure and setup SmartWinnr that best suits your business needs. We will share our expertise and experience in deploying SmartWinnr in large enterprises.</p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator prodfeaturecell">
            <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/encryption_data_at_rest.svg" class="qpicon" /><h4 class="ml_h4 title text-center">Onboarding</h4>
            <p class="ml_body_text_black ml_f15">We will create a customized rollout plan and communication strategy that will help in getting quick adoption within your user base. We help you to adopt best practices for long-term success and drive higher RoI.</p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator prodfeaturecell">
            <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/encryption_data_in_motion.svg" class="qpicon" /><h4 class="ml_h4 title text-center">Training and Support</h4>
            <p class="ml_body_text_black ml_f15">We will be here to answer questions, provide training, and support your team as you deploy and use SmartWinnr.</p>
          </div>
        </div>
      </div>
  </div>
</div>
</div></div></div>  </div>



</article>
  </div>
</div>
  </div>
              </main> <!-- /.section, /#content -->



    </div><!-- /#main -->
  </section><!-- /#main-outer-wrapper -->
