<!-- top blue tile -->
<section class="ml_interview">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h1 class="ml_body_text_white text-center">Customer Stories</h1>
      </div>
    </div>
  </div>
</section>

<!-- first customer story (BSC, Adam Jensen) -->

<section class="ml-background-white">
  <div class="ml-container">
    <div class="row padding50 ml-padding-left-right20">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <script src="https://fast.wistia.com/embed/medias/r7xfygdjgw.jsonp" async></script>
        <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
        <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
          <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
            <div class="wistia_embed wistia_async_r7xfygdjgw videoFoam=true" style="height:100%;position:relative;width:100%">
              <div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                <img src="https://fast.wistia.com/embed/medias/r7xfygdjgw/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" onload="this.parentNode.style.opacity=1;" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <!-- <h1 class="text-center">Smarter Executives = Higher Performance</h1> -->
        <div class="text-center">
          <img class="ml_company_logo" src="/images/bsc.png" alt="Boston Scientific Logo">
        </div>
        <div class="ml-subtext">Experience how Boston Scientific uses SmartWinnr to
          <ul>
            <li>achieve YoY growth</li>
            <li>above 90% field-force engagement</li>
            <li>high knowledge retention amongst the field-force</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <img class="swoop" src="/images/swoop_mask.min.svg"> -->

<!-- second customer story (Polycom, Laura Welch) -->

<section class="ml-background-white">
  <div class="ml-container">
    <div class="row padding50 ml-padding-left-right20">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="ml_customer_info_box ml-background-blue">
          <img src="/images/polycom_laura_welch.png" alt="User Image" class="img-circle ml-margin-right10 pull-left ml_user_image"/>
          <h2 class="ml-bold-text ml_body_text_white ml-margin-top10">Laura Welch</h2>
          <h5 class="ml_body_text_white">Sr. Director, Sales Enablement</h5>
          <h5 class="ml_body_text_white">Polycom, Inc.</h5>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="text-center">
          <img class="ml_company_logo" src="/images/polycom-logo-R-h-rgb.png" alt="Boston Scientific Logo">
        </div>
        <!-- <h3 class="text-center">How Polycom Drives Sales Knowledge through SmartWinnr</h3> -->
        <div class="ml-subtext">Learn how Polycom uses SmartWinnr to:
          <ul>
            <li>Increase product knowledge retention</li>
            <li>Drive global sales learning events</li>
            <li>Make learning fun and engaging</li>
          </ul>
          <p align="center" class="ml-padding-top ml-padding-bottom10"><a class="ml-button-blue" align="center" href="/interview">Read more</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
