<section class="">
  <div class="ml-container ml-dreamforce">
    <div class="row text-center">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ml-text-on-image">
        <h1>Learn How to Drive Sales Through Better Knowledge</h1>
        <p>Join us 25-28 September at Dreamforce 2018 to see how our Fortune 500 customers are using SmartWinnr</p>
      </div>
    </div>
  </div>
  <div class="ml-container ml-background-white">
    <div class="row padding80">
      <h1 class="text-center">Book a meeting with our experts</h1>
      <div class="ml-subtext text-center">Discuss with SmartWinnr specialists about how to turbo-charge your team's product knowledge</div>
      <p align="center" class="ml-padding-top ml-padding-bottom10"><a class="ml-button-blue" align="center" href="/request-demo">Book A Meeting</a></p>
    </div>
  </div>
  <div class="ml-container ml-background-light">
    <div class="row padding50">
      <h1 class="text-center">Visit our booth to see a live demo</h1>
      <p class="ml-padding-left-right20">Do you want to see SmartWinnr in action? Learn how to reduce your recurrent training cost, while increasing the engagement and knowledge retention in teams. Come and join our experts. Ask all your questions or gamification, engagement, adoption, knowledge and more. </p>
      <!-- <p class="text-center">… And you might just score an award-winning SmartWinnr hat.</p> -->
      <h3 class="text-center padding10">Find us at the Customer Success Expo</h3>
      <div class="text-center">
        <img class="ml-dreamforce-image" src="/images/skuid-df18-booth-1-768x517.png" alt="Image">
      </div>
    </div>
  </div>
  <div class="ml-container ml-background-blue">
    <div class="row text-center padding80">
      <h1 class="ml_body_text_white">About SmartWinnr</h1>
      <p class="ml-padding-left-right20 ml_body_text_white">
SmartWinnr helps your sales teams to use knowledge as a competitive advantage, stay compliant and sell more. We use Artificial Intelligence to identify knowledge gaps and send pre-emptive reinforcements to close them. Gamification keeps them motivated and makes learning fun and engaging. Actionable insights help to establish correlation between sales performance and sales knowledge.</p>
      <hr>
      <!-- <span class="ml-horizontal-line ml-padding-top-bottom20"></span> -->
      <h3 class="ml_body_text_white">Get started today</h3>
      <p class="ml_body_text_white">Discover how SmartWinnr can transform your business</p>
      <p align="center" class="ml-padding-top ml-padding-bottom10"><a class="ml-button" align="center" href="/request-demo">Book A Meeting</a></p>
    </div>
  </div>
</section>
