<section id="content-outer-wrapper" class="outer-wrapper clearfix">
    <div id="main-layout" class="main-layout inner-wrapper clearfix with--content without--sidebar-first without--sidebar-second">
      <main id="content" class="region--content column" role="main">
          <div class="region region-content">
    <div id="block-system-main" class="block block-system">


  <div class="content">
    <article id="node-4" class="node node-page node-type--page node-zebra--odd node-view-mode--full node-language--und node-author--admin node-sticky--false node-published--true node-promoted--false node-comments--enabled clearfix" about="/?q=enterprise-features" typeof="foaf:Document">


      <span property="dc:title" content="Enterprise Features" class="rdf-meta element-hidden"></span><span property="sioc:num_replies" content="0" datatype="xsd:integer" class="rdf-meta element-hidden"></span>

  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><div class="se-container paddingtop62px ng-scope">
  <div class="row padding30px">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 paddingbottom30px">
      <h1 class="ml_h1">SmartWinnr is the preferred choice for large enterprises</h1>
      <h2 class="ml_h2 ml_h2_text_color desc_text paddingbottom25px">With its enterprise-grade security and features, SmartWinnr is used by some of the world's largest enterprises. including those in highly regulated industries.</h2>
      <a class="colorbox-node btn btn-warning" href="./?q=node/12">Request for demo</a>
        <div></div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
      <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/enterprise_ready.svg" class="img-responsive center-block ml_width_60" /></div>
  </div>
  <!-- Why choose Smartwinnr -->
  <div class="responsive greenbcg whitefont" id="action">
        <div class="vertical-center">
             <div class="container">
                <div class="row">
                    <div class="action take-tour">
                        <div class="">
                            <h1 class="ml_h1 title">Built for the modern enterprises</h1>
                            <p class="ml_body_text_white ml_f18">
                              High availability, enterprise-grade security, and easy integration options ensure that you can deploy SmartWinnr with zero hassle.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </div>

   <div id="features">
    <div class="container">
        <div class="row">
          <!-- <h1 class="ml_h1 title textaligncenter">Cognitive Science + Gamification + Big Data = New Learning Paradigm </h1> -->
            <div class="single-features">
                <div class="col-sm-4 text-center">
                    <img alt="" class="sideimage" src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/scalability.svg" /></div>
                <div class="col-sm-7">
                    <h2 class="ml_h2 bluefont">High Availability and Scalability</h2>
                    <p class="ml_body_text_black ml_f15">SmartWinnr is powered by Amazon Web Services (AWS), the industry leader in cloud infrastructure. This ensures the highest level of availability. We take periodic snapshots of our database so that in the unlikely event of AWS failure, the system can be quickly restored in another region. The system scales automatically based on load, thus assuring a highly scalable solution even under high concurrent user load.</p>
                </div>
            </div>
            <div class="single-features">
                <div class="col-sm-7 col-sm-offset-1">
                    <h2 class="ml_h2 bluefont">Enterprise-grade Security</h2>
                    <p class="ml_body_text_black ml_f15">SmartWinnr’s technology stack has multiple in-built safeguards to protect your data and privacy. All web connections to the SmartWinnr service are via TLS 1.0 and above. Our database in AWS is fully encrypted. Thus your data is encrypted both at rest and in motion. We currently host data in secure SSAE 16 audited data centers, complying to best-in-class security standards. We regularly perform security audits and penetration testing to ensure system security integrity.</p>
                </div>
                <div class="col-sm-4 text-center">
                  <img alt="" class="sideimage" src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/enterprise_security.svg" /></div>
            </div>
            <div class="single-features">
                <div class="col-sm-4 text-center">
                  <img alt="" class="sideimage" src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/customized_branding.svg" /></div>
                <div class="col-sm-7">
                    <h2 class="ml_h2 bluefont">Customized Branding</h2>
                    <p class="ml_body_text_black ml_f15">SmartWinnr app and admin portal can be fully customized with your brand elements to provide users with the same look and feel as they see in your own corporate environment. </p>
                </div>
            </div>
        </div>
    </div>
  </div>

  <!--  added new content -->
  <div class="responsive greenbcg whitefont" id="action">
    <div class="vertical-center">
       <div class="container">
        <div class="row">
          <div class="action take-tour">
            <div class="col-sm-7 ">
                <h1 class="ml_h1 title">Enterprise Security</h1>
                <p class="ml_body_text_white ml_f18">Read our Security White Paper.</p>
            </div>
            <div class="col-sm-5">
              <div class="tour-button">
                <a class="btn btn-warning" href="https://s3-eu-west-1.amazonaws.com/content.smartwinnr.com/SmartWinnr+Information+Security+Whitepaper.pdf" target="_blank">Download Security White Paper</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   </div>


   <!-- Product Features start -->
   <div id="enterprisefeatures">
     <div class="row padding30px text-center">
       <h1 class="ml_h1 title">Features for Enterprises</h1>
     </div>
     <!-- Product Features Row 1 -->
     <div class="row prodfeaturerow padding30px">
       <h2 class="ml_h2 title text-center">Scalable Architecture</h2>
       <div class="row">
         <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator prodfeaturecell">
           <!-- <i class="fa fa-pencil fa-3 icongreen"></i> -->
           <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/availability.svg" class="qpicon" /><h4 class="ml_h4 title text-center">Availability</h4>
           <p class="ml_body_text_black ml_f15">SmartWinnr is deployed on AWS. S3 Standard is designed for 99.99% availability and Standard - IA is designed for 99.9% availability.</p>
         </div>
         <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator prodfeaturecell">
           <!-- <i class="fa fa-picture-o fa-3 icongreen"></i>  -->
           <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/scalability_icon.svg" class="qpicon" /><h4 class="ml_h4 title text-center">Scalability</h4>
           <p class="ml_body_text_black ml_f15">The SmartWinnr system scales automatically based on load, thus assuring a highly scalable solution even under high concurrent user load.</p>
         </div>
         <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator prodfeaturecell">
           <!-- <i class="fa fa-search fa-3 icongreen"></i> -->
           <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/backup.svg" class="qpicon" /><h4 class="ml_h4 title text-center">Backup Management</h4>
           <p class="ml_body_text_black ml_f15">We take regular snapshots of data volumes and store in Amazon S3. We periodically restore backups to check the integrity of the backed-up data.</p>
         </div>
       </div>
       <div class="row">
         <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator prodfeaturecell">
           <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/disaster.svg" class="qpicon" /><h4 class="ml_h4 title text-center">Disaster Recovery</h4>
           <p class="ml_body_text_black ml_f15">We store the image of the EC2 instances in Amazon S3 as an AMI (Amazon Machine Image). In the unlikely case of an availability zone being down due to any major event, we can create new instances of the EC2 servers from the AMI and we can attach the data from the snapshot to create a fully restored, functional application.</p>
         </div>
       </div>
     </div>
     <!-- Product Features Row 2 -->
     <div class="row prodfeaturerow padding30px">
       <h2 class="ml_h2 title text-center">Security</h2>
       <div class="row">
         <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator prodfeaturecell">
           <!-- <i class="fa fa-pencil fa-3 icongreen"></i> -->
           <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/data_centre_secuirty.svg" class="qpicon" /><h4 class="ml_h4 title text-center">Data Center Security</h4>
           <p class="ml_body_text_black ml_f15">Data Center Security
              Amazon employs a robust physical security program with multiple certifications, including an SSAE 16 certification. For more information on Amazon’s physical security processes, please visit <a>aws.amazon.com/security</a>.
          </p>
         </div>
         <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator prodfeaturecell">
           <!-- <i class="fa fa-picture-o fa-3 icongreen"></i>  -->
           <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/encryption_data_at_rest.svg" class="qpicon" /><h4 class="ml_h4 title text-center">Encrypted Transactions - Data at Rest</h4>
           <p class="ml_body_text_black ml_f15">All application data are stored in encrypted AWS EBS volumes. Data at Rest is encrypted.</p>
         </div>
         <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator prodfeaturecell">
           <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/encryption_data_in_motion.svg" class="qpicon" /><h4 class="ml_h4 title text-center">Encrypted Transactions - Data in Motion</h4>
           <p>All communications with the backend servers are encrypted with HTTPS. The connection uses TLS1.2. We support forward secrecy and AES-GCM, and prohibit insecure connections.</p>
         </div>
       </div>
       <div class="row">
         <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator prodfeaturecell">
           <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/single_signon.svg" class="qpicon" /><h4 class="ml_h4 title text-center">Single Sign On</h4>
           <p class="ml_body_text_black ml_f15">Users can login to our apps through single sign on through your enterprise LDAP/Active Directory.</p>
         </div>
         <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator prodfeaturecell">
           <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/authentication.svg" class="qpicon" /><h4 class="ml_h4 title text-center">Authentication</h4>
           <p class="ml_body_text_black ml_f15">Users can login to the SmartWinnr application only on successful authentication. Enterprise can set their own rules regarding password complexity etc.</p>
         </div>
         <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator prodfeaturecell">
           <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/authorization.svg" class="qpicon" /><h4 class="ml_h4 title text-center">Authorization</h4>
           <p class="ml_body_text_black ml_f15">Users get access to system resources through defined roles. Access to information in the system follow the principle of least privilege.</p>
         </div>
       </div>
     </div>
     <!-- Product Features Row 3 -->
     <div class="row prodfeaturerow padding30px">
       <h2 class="ml_h2 title text-center">Integrations</h2>
       <div class="row">
         <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator prodfeaturecell">
           <!-- <i class="fa fa-pencil fa-3 icongreen"></i> -->
           <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/salesforce_integration.svg" class="qpicon" /><h4 class="ml_h4 title text-center">ERP Integration - Salesforce.com</h4>
           <p class="ml_body_text_black ml_f15">We provide custom API's for direct access between SmartWinnr and Salesforce.com. Our API provides full access to all of our core datatypes, giving you full flexibility to implement whatever integration makes most sense for your business.</p>
         </div>
         <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator prodfeaturecell">
           <!-- <i class="fa fa-picture-o fa-3 icongreen"></i>  -->
           <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/thrid_party_integration.svg" class="qpicon" /><h4 class="ml_h4 title text-center">Integration with Other 3rd Party Systems</h4>
           <p class="ml_body_text_black ml_f15">We provide a robust, secure, modern RESTful web services API, allowing you to easily automate data transfers to other third-party systems.</p>
         </div>
         <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator prodfeaturecell">
           <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/ldap_integration.svg" class="qpicon" /><h4 class="ml_h4 title text-center">LDAP/Active Directory Integration</h4>
           <p class="ml_body_text_black ml_f15">SmartWinnr is fully integrated with LDAP/Active Directory for seamless authentication and authorization.</p>
         </div>
       </div>
     </div>
   </div>
</div>
</div></div></div>  </div>



</article>
  </div>
</div>
  </div>
              </main> <!-- /.section, /#content -->



    </div><!-- /#main -->
  </section><!-- /#main-outer-wrapper -->
