<img class="swoop" src="/images/swoop_mask.min.svg">
<section class="ml-footer">
  <div class="ml-container">
    <div class="row ml-margin-bottom20">
      <div class="col-lg-1 col-md-1 col-sm-12">

      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 ml-title-adjustable">
        <h3 class="ml-footer-heading">Product</h3>
        <ul>
          <li><a href="/product/product-features">Product Features</a></li>
          <li><a href="/product/enterprise-ready">Enterprise Ready</a></li>
          <li><a href="/product/customer-success">Customer Success</a></li>
          <li><a href="/interview">Interview</a></li>
          <!-- <li><a href="/product/api-and-integrations">API & Integrations</a></li> -->
          <!-- <li><a href="/resources">Resources</a></li> -->
        </ul>
        <!-- <ul>
          <li class="app-icon"><a href="https://itunes.apple.com/in/app/smartwinnr/id1129087019?mt=8"><img alt="Download the SmartWinnr iOS mobile app form the itunes app store" src="/images/app-store.svg"></a></li>
        </ul> -->
      </div>

      <!-- <div class="col-lg-2 col-md-2 col-sm-4 ml-title-adjustable">
        <h3 class="ml-footer-heading">By Industry</h3>
        <ul>
          <li><a href="/by-industry/life-sciences">Life Sciences</a></li>
          <li><a href="/by-industry/banking-and-financial-services">Banking & Financial Services</a></li>
          <li><a href="/by-industry/technology">Technology</a></li>
          <li><a href="/by-industry/telecom">Telecom</a></li>
        </ul>
      </div> -->
      <div class="col-lg-2 col-md-2 col-sm-4 ml-title-adjustable">
        <h3 class="ml-footer-heading">Solutions & Scenarios</h3>
        <ul>
          <li><a href="/solutions/sales">Sales</a></li>
          <li><a href="/solutions/legal-and-compliance">Legal and Compliance</a></li>
          <!-- <li><a href="/solutions/call-center">Call Center</a></li> -->
          <!-- <li><a href="/solutions/service-technicians">Service Technicians</a></li> -->
          <!-- <li><a href="/scenarios/onboarding">Onboarding</a></li> -->
          <!-- <li><a href="/scenarios/new-product-launch">New Product Launch</a></li> -->
          <!-- <ul>
            <li class="app-icon"><a href="https://play.google.com/store/apps/details?id=com.quizprompt.app&hl=en_US"><img alt="Download the SmartWinnr android mobile app form the google play store" src="/images/google_play.svg"></a></li>
          </ul> -->
        </ul>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 ml-title-adjustable">
        <h3 class="ml-footer-heading">Resources</h3>
        <ul>
          <li><a href="/post">Blog</a></li>
          <li><a href="http://help-smartwinnr.netlify.com">Help</a></li>
          <li><a href="/resources/#whitepapers">Whitepapers & Case Studies</a></li>
          <!-- <li><a href="/dreamforce">Dreamforce</a></li> -->
        </ul>
        <!-- <ul>
          <li class="app-icon"><a href="https://appexchange.salesforce.com/listingDetail?listingId=a0N3A00000FAB43UAH"><img alt="SmartWinnris available in the SalesForce AppExchange" src="/images/sales-force-app-exchange.png"></a></li>
        </ul> -->
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 ml-title-adjustable">
        <h3 class="ml-footer-heading">Company</h3>
        <ul>
          <li><a href="/about-us/company">About Us</a></li>
          <li><a href="/jobs">Jobs</a></li>
          <li><a href="/about-us/contact-us">Contact Us</a></li>
          <li>Social & Apps</li>
          <ul>
            <li><a href="https://itunes.apple.com/in/app/quizprompt/id1129087019?mt=8">iOS App</a></li>
            <li><a href="https://play.google.com/store/apps/details?id=com.quizprompt.app">Android App</a></li>
            <a target="_blank" href="https://twitter.com/smartwinnr"><i class="fa fa-twitter"></i></a>
            <a target="_blank" href="https://www.linkedin.com/company/mobillionlabs/"><i class="fa fa-linkedin"></i></a>
          </ul>
        </ul>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 ml-title-adjustable">
        <h3 class="ml-footer-heading">US </h3><p class="ml_body_text_faded">340 S Lemon Ave #9775, Walnut, California 91789</p>
        <h3 class="ml-footer-heading">India </h3><p class="ml_body_text_faded">T-Hub, IIIT Campus, Financial District, Gachibowli, Hyderabad 500032</p>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-12">

      </div>
    </div>
    <div class="row text-center ml-padding-bottom10">
      <a href="https://itunes.apple.com/in/app/smartwinnr/id1129087019?mt=8"><img alt="Download the SmartWinnr iOS mobile app form the itunes app store" class="ml_footer_logo" src="/images/app-store.svg"></a>
      <a href="https://play.google.com/store/apps/details?id=com.quizprompt.app&hl=en_US"><img alt="Download the SmartWinnr android mobile app form the google play store" class="ml_footer_logo" src="/images/google_play.svg"></a>
      <a href="https://appexchange.salesforce.com/listingDetail?listingId=a0N3A00000FAB43UAH"><img alt="SmartWinnris available in the SalesForce AppExchange" class="ml_footer_logo" src="/images/sales-force-app-exchange.png"></a>
    </div>
    <a class="sign_in_btn text-center" href="https://app.smartwinnr.com/">Log in <span class="login-caret"></span></a>
    <div id="footer-copyright" class="row ml-margin-bottom0">
      <p class="ml-copyright text-center">
        &copy; MobillionLabs, Inc. {{ now.Year }}. All Rights Reserved.
      </p>
    </div>
  </div>
</section>
