<img class="swoop" src="/images/swoop_mask.min.svg">
<section class="ml-footer">
  <div class="ml-container">
    <div class="row ml-margin-bottom20">
      <div class="col-lg-2 col-md-2 col-sm-4 ml-title-adjustable">
        <h3>Product</h3>
        <ul>
          <li><a href="/product/product-features">Product Features</a></li>
          <li><a href="/product/enterprise-ready">Enterprise Ready</a></li>
          <li><a href="/product/customer-success">Customer Success</a></li>
          <li><a href="/product/api-and-integrations">API & Integrations</a></li>
          <!-- <li><a href="/resources">Resources</a></li> -->
        </ul>
      </div>

      <div class="col-lg-2 col-md-2 col-sm-4 ml-title-adjustable">
        <h3>By Industry</h3>
        <ul>
          <li><a href="/by-industry/life-sciences">Life Sciences</a></li>
          <li><a href="/by-industry/banking-and-financial-services">Banking & Financial Services</a></li>
          <li><a href="/by-industry/technology">Technology</a></li>
          <li><a href="/by-industry/telecom">Telecom</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 ml-title-adjustable">
        <h3>Solutions & Scenarios</h3>
        <ul>
          <li><a href="/solutions/sales">Sales</a></li>
          <li><a href="/solutions/call-center">Call Center</a></li>
          <li><a href="/solutions/service-technicians">Service Technicians</a></li>
          <li><a href="/scenarios/onboarding">Onboarding</a></li>
          <li><a href="/scenarios/new-product-launch">New Product Launch</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 ml-title-adjustable">
        <h3>Resources</h3>
        <ul>
          <li><a href="/post">Blog</a></li>
          <li><a href="http://help-smartwinnr.netlify.com">Help</a></li>
          <li><a href="/resources/whitepapers-and-case-studies">Whitepapers & Case Studies</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 ml-title-adjustable">
        <h3>Company</h3>
        <ul>
          <li><a href="/about-us/company">About Us</a></li>
          <li><a href="/jobs">Jobs</a></li>
          <li><a href="/about-us/contact-us">Contact Us</a></li>
          <li>Social & Apps</li>
          <ul>
            <li><a href="https://itunes.apple.com/in/app/quizprompt/id1129087019?mt=8">iOS App</a></li>
            <li><a href="https://play.google.com/store/apps/details?id=com.quizprompt.app">Android App</a></li>
            <a target="_blank" href="https://twitter.com/smartwinnr"><i class="fa fa-twitter"></i></a>
            <a target="_blank" href="https://www.linkedin.com/company/mobillionlabs/"><i class="fa fa-linkedin"></i></a>
          </ul>
        </ul>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 ml-title-adjustable">
        <h3>US </h3><p class="ml_body_text_faded">340 S Lemon Ave #9775, Walnut, California 91789</p>
        <h3>India </h3><p class="ml_body_text_faded">T-Hub, IIIT Campus, Financial District, Gachibowli, Hyderabad 500032</p>
      </div>
    </div>
    <a class="sign_in_btn text-center" href="https://app.smartwinnr.com/">Log in <span class="login-caret"></span></a>
    <div id="footer-copyright" class="row ml-margin-bottom0">
      <p class="ml-copyright text-center">
        &copy; MobillionLabs, Inc. {{ now.Year }}. All Rights Reserved.
      </p>
    </div>
  </div>
</section>
