<img class="swoop" src="/images/swoop_mask.min.svg">
<section class="ml-footer">
  <div class="ml-container">
    <div class="row ml-margin-bottom20">
      <div class="col-lg-1 col-md-1 col-sm-12">

      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 ml-title-adjustable">
        <h3 class="ml-footer-heading">Product</h3>
        <ul>
          <li><a href="/product/targeted-learning">Targeted Learning</a></li>
          <li><a href="/product/sales-coaching">Sales Coaching</a></li>
          <li><a href="/product/sales-contest">Sales Contest</a></li>
          <li><a href="/product/content-repository">Knowledge Hub</a></li>
          <li><a href="/product/gamification">Gamification</a></li>
          <hr align="left" class="ml-margin0">
          <li><a href="/product/enterprise-ready">Enterprise Ready</a></li>
          <li><a href="/product/customer-success">Customer Success</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 ml-title-adjustable">
        <h3 class="ml-footer-heading">Solutions & Scenarios</h3>
        <ul>
          <li><a href="/solutions/technology">Technology</a></li>
          <li><a href="/solutions/insurance">Insurance</a></li>
          <li><a href="/solutions/pharma">Pharma</a></li>
          <li><a href="/solutions/medical-devices">Medical Devices</a></li>
          <li><a href="/solutions/senior-living">Senior Living</a></li>
          <li><a href="/solutions/banking">Banking</a></li>
          <hr align="left" class="ml-margin0">
          <li><a href="/solutions/sales">Sales</a></li>
          <li><a href="/solutions/call-center">Call Center</a></li>
          <li><a href="/solutions/marketing">Marketing</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 ml-title-adjustable">
        <h3 class="ml-footer-heading">Resources</h3>
        <ul>
          <li><a href="/post">Blogs</a></li>
          <li><a href="/resources/customer-stories/">Customer Stories</a></li>
          <li><a href="https://smartwinnr.drift.help/" target="_blank">Help</a></li>
          <li><a href="/resources/case-studies-whitepapers/">Whitepapers & Case Studies</a></li>
          <li><a href="https://tools.smartwinnr.com" target="_blank">Contest Template Designer Tool</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 ml-title-adjustable">
        <h3 class="ml-footer-heading">Company</h3>
        <ul>
          <!-- <li><a href="/about-us/company">About Us</a></li> -->
          <li><a href="/jobs">Jobs</a></li>
          <!-- <li><a rel="nofollow" href="/about-us/contact-us">Contact Us</a></li> -->
          <!-- <li><a href="/about-us/privacy-policy">Privacy Policy</a></li>
          <li><a href="/about-us/acceptable-use-policy/">Acceptable Use Policy</a></li> -->
          <li>Social & Apps</li>
          <ul>
            <li><a href="https://itunes.apple.com/in/app/quizprompt/id1129087019?mt=8">iOS App</a></li>
            <li><a href="https://play.google.com/store/apps/details?id=com.quizprompt.app">Android App</a></li>
            <a target="_blank" href="https://twitter.com/smartwinnr"><i class="fa fa-twitter"></i></a>
            <a target="_blank" href="https://www.linkedin.com/company/mobillionlabs/"><i class="fa fa-linkedin"></i></a>
          </ul>
        </ul>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 ml-title-adjustable">
        <h3 class="ml-footer-heading">US </h3><p class="ml_body_text_faded">340 S Lemon Ave #9775, Walnut, California 91789</p>
        <!-- <h3 class="ml-footer-heading">India </h3><p class="ml_body_text_faded">T-Hub, IIIT Campus, Financial District, Gachibowli, Hyderabad 500032</p> -->
      </div>
      <div class="col-lg-1 col-md-1 col-sm-12">

      </div>
    </div>
    <div class="row text-center ml-padding-bottom10">
      <a href="https://itunes.apple.com/in/app/smartwinnr/id1129087019?mt=8"><img alt="Download the SmartWinnr iOS mobile app form the itunes app store" class="ml_footer_logo" src="/images/app-store.svg"></a>
      <a href="https://play.google.com/store/apps/details?id=com.quizprompt.app&hl=en_US"><img alt="Download the SmartWinnr android mobile app form the google play store" class="ml_footer_logo" src="/images/google_play.svg"></a>
      <a href="https://appexchange.salesforce.com/listingDetail?listingId=a0N3A00000FAB43UAH"><img alt="SmartWinnris available in the SalesForce AppExchange" class="ml_footer_logo" src="/images/sales-force-app-exchange.png"></a>
    </div>
    <a class="sign_in_btn text-center" href="https://app.smartwinnr.com/">Log in <span class="login-caret"></span></a>
    <div id="footer-copyright" class="row ml-margin-bottom0">
      <p class="ml-copyright text-center">
        <a href="/about-us/privacy-policy">Privacy Policy</a> <b>|</b>
        <a href="/about-us/acceptable-use-policy">Acceptable Use Policy</a>
      </p>
      <p class="ml-copyright text-center">
        &copy; MobillionLabs, Inc. {{ now.Year }}. All Rights Reserved. 
      </p>
    </div>
  </div>
</section>
