<section class="ml-background-white padding50 ">
  <div class="swiper-container ml-padding-top-bottom100">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
       <div class="row">
         <div class="col-lg-12">
             <img src="/images/g2badges/enterprise/2023_enterprise/enterprise_leader.png" class="swiper-img">
         </div>
         <div class="col-lg-12">
           <div class="card-title">
             <h3 class="ml-bold-text">Leader Enterprise </h3>
             <p>Products in the Leader quadrant in the Enterprise Grid® Report are rated highly by G2 users and have substantial Satisfaction and Market Presence scores</p>
           </div>
         </div>
       </div>
     </div>
      <div class="swiper-slide">
       <div class="row">
         <div class="col-lg-12">
             <img src="/images/g2badges/enterprise/2023_enterprise/enterprise_user_adoption.png" class="swiper-img">
         </div>
         <div class="col-lg-12">
           <div class="card-title">
             <h3 class="ml-bold-text">Highest User Adoption Enterprise </h3>
             <p>The Highest User Adoption product in the Implementation Index earned the highest User Adoption rating in its category</p>
           </div>
         </div>
       </div>
     </div>
      <div class="swiper-slide">
       <div class="row">
         <div class="col-lg-12">
             <img src="/images/g2badges/enterprise/2023_enterprise/enterprise_easiest_setup.png" class="swiper-img">
         </div>
         <div class="col-lg-12">
           <div class="card-title">
             <h3 class="ml-bold-text"> Easiest Setup Enterprise </h3>
             <p>The Easiest Setup product in the Implementation Index earned the highest Ease of Setup rating in its category </p>
           </div>
         </div>
       </div>
     </div>
      <!-- <div class="swiper-slide">
       <div class="row">
         <div class="col-lg-12">
             <img src="/images/g2badges/enterprise/46.png" class="swiper-img">
         </div>
         <div class="col-lg-12">
           <div class="card-title">
             <h3 class="ml-bold-text"> Most Implementable Enterprise </h3>
             <p>The Most Implementable product in the Implementation Index earned the highest Implementation rating in its category </p>
           </div>
         </div>
       </div>
     </div> -->
     <div class="swiper-slide">
       <div class="row">
         <div class="col-lg-12">
             <img src="/images/g2badges/enterprise/2023_enterprise/enterprise_best_requirements.png" class="swiper-img">
         </div>
         <div class="col-lg-12">
           <div class="card-title">
             <h3 class="ml-bold-text"> Best Meets Requirements Enterprise </h3>
             <p>The Best Meets Requirements product in the Usability Index earned the highest Meets Requirements rating in its category</p>
           </div>
         </div>
       </div>
     </div>
       <div class="swiper-slide">
       <div class="row">
         <div class="col-lg-12">
             <img src="/images/g2badges/enterprise/2023_enterprise/enterprise_easiest_to_use.png" class="swiper-img">
         </div>
         <div class="col-lg-12">
           <div class="card-title">
             <h3 class="ml-bold-text"> Easiest To Use Enterprise </h3>
             <p>The Easiest to Use product in the Usability Index earned the highest Ease of Use rating in its category </p>
           </div>
         </div>
       </div>
     </div>
      <div class="swiper-slide">
       <div class="row">
         <div class="col-lg-12">
             <img src="/images/g2badges/enterprise/2023_enterprise/enterprise_easiest_admin.png" class="swiper-img">
         </div>
         <div class="col-lg-12">
           <div class="card-title">
             <h3 class="ml-bold-text">Easiest Admin Enterprise </h3>
             <p>The Easiest Admin product in the Usability Index earned the highest Ease of Admin rating in its category </p>
           </div>
         </div>
       </div>
     </div>
     <div class="swiper-slide">
       <div class="row">
         <div class="col-lg-12">
             <img src="/images/g2badges/enterprise/2023_enterprise/enterprise_best_usability.png" class="swiper-img">
         </div>
         <div class="col-lg-12">
           <div class="card-title">
             <h3 class="ml-bold-text">Best Usability Enterprise </h3>
             <p>The Best Usability product in the Usability Index earned the highest Usability rating in its category </p>
           </div>
         </div>
       </div>
     </div>
      <div class="swiper-slide">
       <div class="row">
         <div class="col-lg-12">
             <img src="/images/g2badges/enterprise/2023_enterprise/enterprise_easiest_to_business.png" class="swiper-img">
         </div>
         <div class="col-lg-12">
           <div class="card-title">
             <h3 class="ml-bold-text">Easiest To Do Business With Enterprise </h3>
             <p>The Easiest Doing Business With product in the Relationship Index earned the highest Ease of Doing Business With rating in its category </p>
           </div>
         </div>
       </div>
     </div>
      <div class="swiper-slide">
       <div class="row">
         <div class="col-lg-12">
             <img src="/images/g2badges/enterprise/2023_enterprise/enterprise_best_support.png" class="swiper-img">
         </div>
         <div class="col-lg-12">
           <div class="card-title">
             <h3 class="ml-bold-text">Best Support Enterprise </h3>
             <p>The Highest Quality of Support product in the Relationship Index earned the highest Quality of Support rating in its category</p>
           </div>
         </div>
       </div>
     </div>
      <div class="swiper-slide">
       <div class="row">
         <div class="col-lg-12">
             <img src="/images/g2badges/enterprise/2023_enterprise/enterprise_best_relationship.png" class="swiper-img">
         </div>
         <div class="col-lg-12">
           <div class="card-title">
             <h3 class="ml-bold-text">Best Relationship Enterprise </h3>
             <p>The Best Relationship product in the Relationship Index earned the highest Relationship rating in its category </p>
           </div>
         </div>
       </div>
     </div>
     <div class="swiper-slide">
       <div class="row">
         <div class="col-lg-12">
             <img src="/images/g2badges/enterprise/2023_enterprise/enterprise_high_performer.png" class="ml_height_200">
         </div>
         <div class="col-lg-12">
           <div class="card-title">
             <h3 class="ml-bold-text">High Performer Enterprise </h3>
             <p>Products in the High Performer quadrant in the Enterprise Regional Grid® Report have high customer Satisfaction scores and low Market Presence scores compared to the rest of the category</p>
           </div>
         </div>
       </div>
     </div>
  <!-- <div class="swiper-slide">
          <div class="row">
            <div class="col-lg-12">
                <img src="/images/g2badges/asia-pacific/7.png" class="swiper-img">
            </div>
            <div class="col-lg-12">
              <div class="card-title">
                <h3 class="ml-bold-text">High Performer Enterprise </h3>
                <p>Products in the High Performer quadrant in the Enterprise Asia Pacific Regional Grid® Report have high customer Satisfaction scores and low Market Presence scores compared to the rest of the category</p>
              </div>
            </div>
          </div>
        </div> -->
       <div class="swiper-slide">
       <div class="row">
         <div class="col-lg-12">
             <img src="/images/g2badges/enterprise/2023_enterprise/enterprise_user_recommend.png" class="swiper-img">
         </div>
         <div class="col-lg-12">
           <div class="card-title">
             <h3 class="ml-bold-text">Users Most Likely To Recommend Enterprise </h3>
             <p>The Users Most Likely to Recommend product in the Results Index earned the highest Likely to Recommend rating in its category </p>
           </div>
         </div>
       </div>
     </div>
      <div class="swiper-slide">
       <div class="row">
         <div class="col-lg-12">
             <img src="/images/g2badges/enterprise/2023_enterprise/enterprise_best_result.png" class="swiper-img">
         </div>
         <div class="col-lg-12">
           <div class="card-title">
             <h3 class="ml-bold-text">Best Results Enterprise </h3>
             <p>The Best Results product in the Results Index earned the highest overall Results rating in its category </p>
           </div>
         </div>
       </div>
     </div>
      <div class="swiper-slide">
       <div class="row">
         <div class="col-lg-12">
             <img src="/images/g2badges/enterprise/2023_enterprise/enterprise_asia_high_performer.png" class="ml_height_180">
         </div>
         <div class="col-lg-12">
           <div class="card-title">
             <h3 class="ml-bold-text">High Performer Enterprise</h3>
             <p>Products in the High Performer quadrant in the Enterprise Asia Grid® Report have high customer Satisfaction scores and low Market Presence scores compared to the rest of the category</p>
           </div>
         </div>
       </div>
     </div>
      <div class="swiper-slide">
        <div class="row">
          <div class="col-lg-12">
            <img src="/images/g2badges/fall/fall_2023/fall_easiest_admin.png" class="swiper-img">
          </div>
          <div class="col-lg-12">
            <div class="card-title">
              <h3 class="ml-bold-text">Easiest Admin </h3>
              <p>The Easiest Admin product in the Usability Index earned the highest Ease of Admin rating in its category</p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="row">
          <div class="col-lg-12">
            <img src="/images/g2badges/fall/fall_2023/fall_best_requirements.png" class="swiper-img">
          </div>
          <div class="col-lg-12">
            <div class="card-title">
              <h3 class="ml-bold-text">Best Meets Requirements </h3>
              <p>The Best Meets Requirements product in the Usability Index earned the highest Meets Requirements rating in its category</p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="row">
          <div class="col-lg-12">
            <img src="/images/g2badges/fall/fall_2023/fall_best_usability.png" class="swiper-img">
          </div>
          <div class="col-lg-12">
            <div class="card-title">
              <h3 class="ml-bold-text">Best Usability </h3>
              <p>The Best Usability product in the Usability Index earned the highest Usability rating in its category</p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="row">
          <div class="col-lg-12">
            <img src="/images/g2badges/fall/fall_2023/fall_easiest_use.png" class="swiper-img">
          </div>
          <div class="col-lg-12">
            <div class="card-title">
              <h3 class="ml-bold-text">Easiest To Use </h3>
              <p>The Easiest to Use product in the Usability Index earned the highest Ease of Use rating in its category</p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="row">
          <div class="col-lg-12">
            <img src="/images/g2badges/fall/fall_2023/fall_best_results.png" class="swiper-img">
          </div>
          <div class="col-lg-12">
            <div class="card-title">
              <h3 class="ml-bold-text">Best Results </h3>
              <p>The Best Results product in the Results Index earned the highest overall Results rating in its category</p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="row">
          <div class="col-lg-12">
            <img src="/images/g2badges/fall/fall_2023/fall_easiest_to_business.png" class="swiper-img">
          </div>
          <div class="col-lg-12">
            <div class="card-title">
              <h3 class="ml-bold-text">Easiest To Do Business With </h3>
              <p>The Easiest Doing Business With product in the Relationship Index earned the highest Ease of Doing Business With rating in its category</p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="row">
          <div class="col-lg-12">
            <img src="/images/g2badges/fall/fall_2023/fall_best_support.png" class="swiper-img">
          </div>
          <div class="col-lg-12">
            <div class="card-title">
              <h3 class="ml-bold-text">Best Support </h3>
              <p>The Highest Quality of Support product in the Relationship Index earned the highest Quality of Support rating in its category</p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="row">
          <div class="col-lg-12">
            <img src="/images/g2badges/fall/fall_2023/fall_momentum_leader.png" class="swiper-img">
          </div>
          <div class="col-lg-12">
            <div class="card-title">
              <h3 class="ml-bold-text">Momentum Leader </h3>
              <p>Products in the Leader tier in the Momentum Grid® rank in the top 25% of their category's products by their users</p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="row">
          <div class="col-lg-12">
            <img src="/images/g2badges/fall/fall_2023/fall_high_perfomer.png" class="swiper-img">
          </div>
          <div class="col-lg-12">
            <div class="card-title">
              <h3 class="ml-bold-text">High Performer </h3>
              <p>Products in the High Performer quadrant in the Grid® Report have high customer Satisfaction scores and low Market Presence scores compared to the rest of the category</p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="row">
          <div class="col-lg-12">
            <img src="/images/g2badges/fall/fall_2023/fall_leader.png" class="swiper-img">
          </div>
          <div class="col-lg-12">
            <div class="card-title">
              <h3 class="ml-bold-text">Leader </h3>
              <p>Products in the Leader quadrant in the Grid® Report are rated highly by G2 users and have substantial Satisfaction and Market Presence scores</p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="row">
          <div class="col-lg-12">
            <img src="/images/g2badges/fall/fall_2023/fall_easiest_setup.png" class="swiper-img">
          </div>
          <div class="col-lg-12">
            <div class="card-title">
              <h3 class="ml-bold-text">Easiest Setup </h3>
              <p>The Easiest Setup product in the Implementation Index earned the highest Ease of Setup rating in its category</p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="row">
          <div class="col-lg-12">
            <img src="/images/g2badges/mid-market/mid_market_2023/mid_best_requirements.png" class="swiper-img">
          </div>
          <div class="col-lg-12">
            <div class="card-title">
              <h3 class="ml-bold-text">Best Meets Requirements Mid-Market </h3>
              <p>The Best Meets Requirements product in the Usability Index earned the highest Meets Requirements rating in its category</p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="row">
          <div class="col-lg-12">
            <img src="/images/g2badges/mid-market/mid_market_2023/mid_easiest_to_use.png" class="swiper-img">
          </div>
          <div class="col-lg-12">
            <div class="card-title">
              <h3 class="ml-bold-text">Easiest To Use Mid-Market</h3>
              <p>The Easiest to Use product in the Usability Index earned the highest Ease of Use rating in its category</p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="row">
          <div class="col-lg-12">
            <img src="/images/g2badges/mid-market/mid_market_2023/mid_easiest_admin.png" class="swiper-img">
          </div>
          <div class="col-lg-12">
            <div class="card-title">
              <h3 class="ml-bold-text">Easiest Admin Mid-Market </h3>
              <p>The Easiest Admin product in the Usability Index earned the highest Ease of Admin rating in its category</p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="row">
          <div class="col-lg-12">
            <img src="/images/g2badges/mid-market/mid_market_2023/mid_best_usability.png" class="swiper-img">
          </div>
          <div class="col-lg-12">
            <div class="card-title">
              <h3 class="ml-bold-text">Best Usability Mid-Market </h3>
              <p>The Best Usability product in the Usability Index earned the highest Usability rating in its category</p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="row">
          <div class="col-lg-12">
            <img src="/images/g2badges/mid-market/mid_market_2023/mid_best_support.png" class="swiper-img">
          </div>
          <div class="col-lg-12">
            <div class="card-title">
              <h3 class="ml-bold-text">Best Support Mid-Market </h3>
              <p>The Highest Quality of Support product in the Relationship Index earned the highest Quality of Support rating in its category</p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="row">
          <div class="col-lg-12">
            <img src="/images/g2badges/mid-market/mid_market_2023/mid_easiest_to_business.png" class="swiper-img">
          </div>
          <div class="col-lg-12">
            <div class="card-title">
              <h3 class="ml-bold-text">Easiest To Do Business With Mid-Market </h3>
              <p>The Easiest Doing Business With product in the Relationship Index earned the highest Ease of Doing Business With rating in its category</p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="row">
          <div class="col-lg-12">
            <img src="/images/g2badges/mid-market/mid_market_2023/mid_highest_adoption.png" class="swiper-img">
          </div>
          <div class="col-lg-12">
            <div class="card-title">
              <h3 class="ml-bold-text">Highest User Adoption Mid-Market</h3>
              <p>The Highest User Adoption product in the Implementation Index earned the highest User Adoption rating in its category</p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="row">
          <div class="col-lg-12">
            <img src="/images/g2badges/mid-market/mid_market_2023/mid_easiest_setup.png" class="swiper-img">
          </div>
          <div class="col-lg-12">
            <div class="card-title">
              <h3 class="ml-bold-text">Easiest Setup Mid-Market</h3>
              <p>The Easiest Setup product in the Implementation Index earned the highest Ease of Setup rating in its category</p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="row">
          <div class="col-lg-12">
            <img src="/images/g2badges/mid-market/mid_market_2023/mid_fastest_implementation.png" class="swiper-img">
          </div>
          <div class="col-lg-12">
            <div class="card-title">
              <h3 class="ml-bold-text">Fastest Implementation Mid-Market</h3>
              <p>The Fastest Implementation product in the Implementation Index had the shortest go-live time in its category</p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="row">
          <div class="col-lg-12">
            <img src="/images/g2badges/mid-market/mid_market_2023/mid_high_performer.png" class="ml_height_200">
          </div>
          <div class="col-lg-12">
            <div class="card-title">
              <h3 class="ml-bold-text">High Performer Mid-Market</h3>
              <p>Products in the High Performer quadrant in the Mid-Market Grid® Report have high customer Satisfaction scores and low Market Presence scores compared to the rest of the category</p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="row">
          <div class="col-lg-12">
            <img src="/images/g2badges/mid-market/mid_market_2023/mid_asia_pacific_high.png" class="ml_height_170">
          </div>
          <div class="col-lg-12">
            <div class="card-title">
              <h3 class="ml-bold-text">High Performer Mid-Market</h3>
              <p>Products in the High Performer quadrant in the Mid-Market Asia Pacific Regional Grid® Report have high customer Satisfaction scores and low Market Presence scores compared to the rest of the category</p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="row">
          <div class="col-lg-12">
            <img src="/images/g2badges/mid-market/mid_market_2023/mid_best_results.png" class="swiper-img">
          </div>
          <div class="col-lg-12">
            <div class="card-title">
              <h3 class="ml-bold-text">Best Results Mid-Market</h3>
              <p>The Best Results product in the Results Index earned the highest overall Results rating in its category</p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="row">
          <div class="col-lg-12">
            <img src="/images/g2badges/mid-market/mid_market_2023/mid_best_roi.png" class="ml_height_200">
          </div>
          <div class="col-lg-12">
            <div class="card-title">
              <h3 class="ml-bold-text">Best Estimated ROI Mid-Market</h3>
              <p>The Best Estimated ROI product in the Results Index earned the best estimated ROI rating in its category based on a combination of estimated time to achieve ROI and time to go live</p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="row">
          <div class="col-lg-12">
            <img src="/images/g2badges/mid-market/mid_market_2023/mid_user_recommend.png" class="ml_height_200">
          </div>
          <div class="col-lg-12">
            <div class="card-title">
              <h3 class="ml-bold-text">Users Most Likely To Recommend Mid-Market</h3>
              <p>The Users Most Likely to Recommend product in the Results Index earned the highest Likely to Recommend rating in its category</p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="row">
          <div class="col-lg-12">
            <img src="/images/g2badges/asia-pacific/asia_pacific_leader_2023.png" class="ml_height_180">
          </div>
          <div class="col-lg-12">
            <div class="card-title">
              <h3 class="ml-bold-text">Leader</h3>
              <p>Products in the Leader quadrant in the Asia Pacific Regional Grid® Report are rated highly by G2 users and have substantial Satisfaction and Market Presence scores</p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="row">
          <div class="col-lg-12">
            <img src="/images/g2badges/India/india_high_performer.png" class="ml_height_180">
          </div>
          <div class="col-lg-12">
            <div class="card-title">
              <h3 class="ml-bold-text">High Performer </h3>
              <p>Products in the High Performer quadrant in the India Regional Grid® Report have high customer Satisfaction scores and low Market Presence scores compared to the rest of the category</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>  
</section>


<script>
  var swiper = new Swiper('.swiper-container', {
     effect: 'coverflow',
     grabCursor: true,
     centeredSlides: true,
     slidesPerView: 'auto',
     spaceBetween: 80,
     coverflowEffect: {
       rotate: 0,
       stretch: 0,
       depth: 100,
       modifier: 1,
       slideShadows: false,
     },
     pagination: {
       el: '.swiper-pagination',
     },
       navigation: {
       nextEl: '.swiper-button-next',
       prevEl: '.swiper-button-prev',
     },
   });
</script>