<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    {{ if eq .Kind "taxonomyTerm"}}
    <meta name="testing" content="This is a taxonomyTerm page">
    {{ else if eq .Kind "taxonomy" }}
    <meta name="testing" content="This is a taxonomy page">
    {{ else }}
    <meta name="description" content="{{ $.Site.Description | default .Site.Params.description }}">
    {{ end }}
    <base href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">
    <title>{{ $.Site.Title }}</title>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="shortcut icon" href="saleswinnr_favicon.ico">
  </head>
  <body>
