<section class="ml_interview">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h1 class="ml_body_text_white text-center">Drive Sales Knowledge through SmartWinnr</h1>
      </div>
    </div>
  </div>
</section>
<img class="swoop" src="/images/swoop_mask.min.svg">
<section class="ml-background-white">
  <div class="ml-container ml-background-wave">
    <div class="row ml-margin-bottom0 padding50 ml-padding-left-right20">
      <img src="/images/polycom_laura_welch.png" alt="User Image" class="img-circle ml-margin-right10 pull-left ml_user_image"/>
      <img class="ml_company_logo pull-right ml-margin-top10" src="/images/polycom-logo-R-h-rgb.png" alt="Polycom Logo">
      <h2 class="ml-bold-text ml-margin-top10">Laura Welch</h2>
      <h5 class="ml-desc-text">Sr. Director, Sales Enablement</h5>
      <h5 class="ml-desc-text">Polycom, Inc.</h5>
    </div>
    <div class="row ml-margin-bottom0 ml-background-white padding30">
      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"></div>
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <div class="row ml-margin-bottom0">
          <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
            <img src="/images/key challenges.png" alt="" class="">
          </div>
          <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
            <h4 class="ml-title-adjustable ml-title-font">What were the business challenges that led you to adopt SmartWinnr?</h4>
            <div class="ml-subtext">
              <p>
                At Polycom, enabling our salespeople and our sales engineers has always been top of mind and seen as critical.  Our top challenges include:
              </p>
              <ol>
                <li>
                  Getting key information to a disparate sales force of over 600 people, most of whom work from home or out of small sales offices.
                </li>
                <li>
                  Making sure our sellers and SE’s are retaining and understanding the product and sales information we provide to them – how do we measure that?
                </li>
                <li>
                  Making learning fun! Adding gamification, contests, leaderboards, fun activities that drive our sellers to want to learn and to appreciate training and enablement.
                </li>
                <li>
                  Reinforcing product, solution, sales skill information that isn’t new, but is still relevant and important.  It seems like we always have something new, something shiny and if we only focus on those things, our sellers forget about some of the key benefits, use cases, and applications of products and solutions that will help them win and be successful.
                </li>
              </ol>
            </div>
          </div>
        </div>
        <!-- second question -->
        <div class="row ml-margin-bottom0">
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <h4 class="ml-title-adjustable ml-title-font">Which are the different scenarios that SmartWinnr is helping Polycom with?</h4>
            <div class="ml-subtext">
              <p>
                We have found that SmartWinnr is helping in a number of ways – and we are constantly finding new avenues to deploy it.
              </p>
              <p>
                The first way we used it was to reinforce and measure product launch information retention.  So, we’d launch a product or solution or service, train them extensively, and then send out SmartWinnr quizzes to reinforce the key messages and to see if our training was effective and being absorbed.
              </p>
              <p>
                Then we decided to use SmartWinnr to remind sellers of sales skills or solutions that we felt weren’t being used or discussed with customers.  Perhaps sales of a product had fallen off and we wanted to draw attention to it; we’d use SmartWinnr to remind sellers of why and how that product could help them win.
              </p>
              <p>
                Another way we used SmartWinnr was with our Sales Engineer (SE) community. SE’s love to learn! Pushing learning or training was never a concern for them.  So, we used SmartWinnr to amplify and reinforce learning during key SE events, like our SEAL event where all SE’s worldwide come to a single location for a week to get in-depth product, solution, and services training.
              </p>
              <p>
                We created quizzes to test their knowledge after each session, surveys to get their feedback on different aspects of the event, leaderboards to create some fun competition between groups and teams, and SmartFeeds to send them session details.  The SE’s really loved it and took to SmartWinnr very well.
              </p>
              <p>
                New Hire Sales training is a place where we are using SmartWinnr successfully.  We hold NHST once per quarter for 15-20 people in 4 locations worldwide.  Since the groups are small it’s easy to create contests and leaderboards, quiz them on sessions that are important to them as new sellers, and to get them excited about being a Polycom employee.
              </p>
              <p>
                In the near future we will be using SmartWinnr to survey our reps on their opinion, thoughts, and ideas regarding our training methods, topics they want to get more information and training on, and their opinions on our trainers and the content they use to present.  We also want to use SmartWinnr with our Partner community, especially during big Partner events and training sessions.  Having a way to capture their ideas, feelings, opinions, and concerns will be key, as well as having a way to test their learning and validate our training sessions.
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

          </div>
        </div>
        <!-- third question -->
        <div class="row ml-margin-bottom0">
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

          </div>
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <h4 class="ml-title-adjustable ml-title-font">What has been your experience with SmartWinnr?</h4>
            <div class="ml-subtext">
              <p>
                At Polycom, enabling our salespeople and our sales engineers has always been top of mind and seen as critical.  Our top challenges include:
              </p>
                <p>
                  I’ve tremendously enjoyed working with the people at SmartWinnr from Day 1.  When we think of a new way we want to use SmartWinnr, sometimes we have feature requests or feature ideas and the leaders and development team at SmartWinnr are always open to input and enthusiastic about taking feedback and suggestions.  People are friendly, kind, smart and supportive – I’ve rarely worked with a team of people at a vendor’s organization that I enjoy more!
                </p>
                <p>
                  The portal is easy to use and intuitive, which is critical because each person on my small team has a lot on their plate and not a lot of time to learn complicated systems or tools. We’ve also been very pleased with the mobile app – on both Android and iOS devices.
                </p>
                <p>
                  Salespeople are never shy about voicing complaints or issues, but we’ve had almost no negative comments, feedback or complaints.  At the most, they’ve reached out to me to reset their password or ask why a quiz disappeared (they waited too long to take it!).
                </p>
            </div>
          </div>
        </div>
        <!-- fourth question -->
        <div class="row ml-margin-bottom0">
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <h4 class="ml-title-adjustable ml-title-font">What are the top benefits of SmartWinnr?</h4>
            <div class="ml-subtext">
              <ol>
                <li>
                  The tool is broad and deep in its feature set, allowing me to do many different things with it, which increases and speeds up my ROI
                </li>
                <li>
                  The desktop and smartphone user interface is simple and easy to use and navigate, making the learning curve very sharp and fast
                </li>
                <li>
                  Supporting multiple languages means that I can ensure everyone on the worldwide sales team understands and absorbs the information and questions posed to them.
                </li>
                <li>
                  Analytics are robust and make it easy for me to report out on the results I’m seeing with quizzes, the feedback from surveys, and participation rates.
                </li>
              </ol>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

          </div>
        </div>
        <!-- fifth question -->
        <div class="row ml-margin-bottom0">
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

          </div>
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <h4 class="ml-title-adjustable ml-title-font">The Future - How do you see SmartWinnr adding value to Polycom going forward</h4>
            <div class="ml-subtext">
                <p>
                  I see SmartWinnr being used with our Partners and not just our salespeople.  Also, our marketing department has expressed an interest in using the tool amongst themselves and with the sales force to promote campaigns, Personas, promotions, etc.
                </p>
                <p>
                  We were recently acquired by Plantronics, which means a lot of cross-training across both sales forces, and I see SmartWinnr being a big part of that cross-training effort.
                </p>
                <p>
                  We also are looking forward to a worldwide sales meeting in mid-2019, and I am planning on using SmartWinnr to do quizzes, surveys, notifications, and gamification during that event. Lastly, as I get more adept at using the various tools inside SmartWinnr, I’ll be able to tie it back to revenue, showing that when training/learning is effective – our revenue increases and we become more successful as a company.
                </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"></div>
    </div>
  </div>
</section>
