<section class="ml-key-points">
  <div class="ml-container">
    <div class="row ml-margin-top10">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-center">
        <div class="ml-column text-center">
          <h1><span class="icon-arrow-down-circle ml-icon-blue"></span>30%</h1>
          <h4>Reduce Cost</h4>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <div class="ml-column text-center">
          <h1><span class="icon-arrow-up-circle ml-icon-blue"></span>67%</h1>
          <h4>Improve Knowledge Retention</h4>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-center">
        <div class="ml-column text-center">
          <h1><span class="icon-arrow-up-circle ml-icon-blue"></span>91%</h1>
          <h4>Increase Engagement</h4>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-center">
        <div class="ml-column text-center">
          <h1><span class="icon-arrow-up-circle ml-icon-blue"></span>22%</h1>
          <h4>Quota Attainment</h4>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- this section is used for displaying company logos -->
<section>
  <div class="ml-background-white padding30">
    <div class="ml-container padding30">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <h1 class="text-center ml_body_text_black ml-margin-bottom20">You are in good company.</h1>
          <h4 class="text-center ml_body_text_black ml-margin-bottom20">Global enterprises rely on SmartWinnr.</h4>
        </div>
      </div>
      <div class="row ml-padding-left-3-percent ml-padding-right-3-percent">
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <span>
            <img style="width: 100%; height: 50px;" class="ml_company_logo" src="https://s3.us-west-2.amazonaws.com/qzapp.resource/5774b038e11b0d0822c0ec0c/quizCoverImage_5774b038e11b0d0822c0ec0c_1528278400605.png?_ts=1528278402344" alt="Boston Scientific Logo">
          </span>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <span>
            <img style="width: 100%; height: 50px;" class="ml_company_logo" src="/images/fedex-logo.png" alt="FTN logo">
          </span>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <span>
            <img style="width: 100%; height: 50px;" class="ml_company_logo" src="/images/icici logo.png" alt="ICICI logo">
          </span>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <span>
            <img style="width: 100%; height: 50px;" class="ml_company_logo" src="https://s3.us-west-2.amazonaws.com/qzapp.resource/5774b038e11b0d0822c0ec0c/quizCoverImage_5774b038e11b0d0822c0ec0c_1528278430520.png?_ts=1528278431836" alt="Cure.fit logo">
          </span>
        </div>
      </div>
    </div>
</section>
<section class="ml-background-white">
  <div class="ml-container ml-background-wave">
    <div class="row ml-margin-bottom0">
      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 ml-centered" align="center">
        <h1>Make Knowledge Your Competitive Edge</h1>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 padding80">
        <div class="row ml-margin-bottom20">
          <div class="col-lg-2 col-md-2 text-center padding30">
            <span class="icon-lamp ml-icon-blue"></span>
          </div>
          <div class="col-lg-10 col-md-10">
            <h2 class="ml-title-adjustable">Be Smarter</h2>
            <div class="ml-subtext">Is your team struggling with information overload? Keep your team always informed through AI-driven personalized quizzes and knowledge feeds.</div>
          </div>
        </div>
        <div class="row ml-margin-bottom20">
          <div class="col-lg-2 col-md-2 text-center padding30">
            <span class="icon-bag-dollar ml-icon-blue"></span>
          </div>
          <div class="col-lg-10 col-md-10">
            <h2 class="ml-title-adjustable">Sell More</h2>
            <div class="ml-subtext">Sales teams often find it difficult to recall crucial product, competitor, and customer information. Empower your team to have a more meaningful conversation with customers and drive better sales performance.</div>
          </div>
        </div>
        <div class="row ml-margin-bottom20">
          <div class="col-lg-2 col-md-2 text-center padding30">
            <span class="icon-aim ml-icon-blue"></span>
          </div>
          <div class="col-lg-10 col-md-10">
            <h2 class="ml-title-adjustable">Stay Compliant</h2>
            <div class="ml-subtext">The cost of non-compliance can be huge for industries operating in regulated environments. Use SmartWinnr to reduce compliance breaches and to move from an incident-driven to a proactive approach.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
