<section class="ml-key-points">
  <div class="ml-container">
    <div class="row ml-margin-top10">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-center">
        <div class="ml-column text-center">
          <h1><span class="icon-arrow-down-circle ml-icon-blue"></span>30%</h1>
          <h4>Reduce Cost</h4>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <div class="ml-column text-center">
          <h1><span class="icon-arrow-up-circle ml-icon-blue"></span>67%</h1>
          <h4>Improve Knowledge Retention</h4>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-center">
        <div class="ml-column text-center">
          <h1><span class="icon-arrow-up-circle ml-icon-blue"></span>91%</h1>
          <h4>Increase Engagement</h4>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-center">
        <div class="ml-column text-center">
          <h1><span class="icon-arrow-up-circle ml-icon-blue"></span>22%</h1>
          <h4>Quota Attainment</h4>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- this section is used for displaying company logos -->
<section>
  <div class="ml-background-white padding30">
    <div class="ml-container padding30">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <h1 class="text-center ml_body_text_black ml-margin-bottom20">You are in good company.</h1>
          <h4 class="text-center ml_body_text_black ml-margin-bottom20">Global enterprises rely on SmartWinnr.</h4>
        </div>
      </div>
      <div class="row text-center">
        <img class="ml_company_logo" src="/images/bsc.png" alt="Boston Scientific Logo">
        <img class="ml_company_logo" src="/images/polycom-logo-R-h-rgb.png" alt="Polycom Logo">
        <img class="ml_company_logo" src="/images/fedex-logo.png" alt="FTN logo">
        <img class="ml_company_logo" src="/images/icici logo.png" alt="ICICI logo">
        <!-- <img class="ml_company_logo" src="/images/curefit_logo.png" alt="Cure.fit logo"> -->
      </div>
    </div>
</section>
<img class="swoop" src="/images/swoop_mask.min.svg">
<!-- start of video section -->


<section class="ml-chooseQP ml-background-white">
  <div class="ml-container">
    <div class="row padding50">
      <div class="col-sm-7">
        <!-- <iframe class="ml-youtube-video" frameborder="0" allowfullscreen="" src="https://www.youtube.com/embed/Ym_0EIl-JDQ"></iframe>
        </iframe> -->
        <script src="https://fast.wistia.com/embed/medias/r7xfygdjgw.jsonp" async></script>
        <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
        <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
          <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
            <div class="wistia_embed wistia_async_r7xfygdjgw videoFoam=true" style="height:100%;position:relative;width:100%">
              <div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                <img src="https://fast.wistia.com/embed/medias/r7xfygdjgw/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" onload="this.parentNode.style.opacity=1;" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-5 ml-centered-half ml-padding-top0">
        <!-- <h3>Smarter Executives = Higher Performance</h3> -->
        <h1 class="text-center">Smarter Executives = Higher Performance</h1>
        <div class="ml-subtext ml-font20">Experience how Boston Scientific uses SmartWinnr to
          <ul>
            <li>achieve YoY growth</li>
            <li>above 90% field-force engagement</li>
            <li>high knowledge retention amongst the field-force</li>
          </ul>
        </div>
        <p align="center" class="ml-padding-top ml-padding-bottom10"><a class="ml-button-blue" align="center" href="/request-demo">Request for demo</a></p>
      </div>
    </div>
  </div>
</section>


<!-- end of video section -->
<section class="ml-background-white">
  <div class="ml-container ml-background-wave">
    <div class="row ml-margin-bottom0">
      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 ml-centered ml-margin-top30" align="center">
        <h1>Make Knowledge Your Competitive Edge</h1>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 padding80">
        <div class="row ml-margin-bottom20">
          <div class="col-lg-2 col-md-2 text-center padding30">
            <span class="icon-lamp ml-icon-blue"></span>
          </div>
          <div class="col-lg-10 col-md-10">
            <h4 class="ml-title-adjustable ml-title-font">Be Smarter</h4>
            <div class="ml-subtext">Is your team struggling with information overload? Keep your team always informed through AI-driven personalized quizzes and knowledge feeds.</div>
          </div>
        </div>
        <div class="row ml-margin-bottom20">
          <div class="col-lg-2 col-md-2 text-center padding30">
            <span class="icon-bag-dollar ml-icon-blue"></span>
          </div>
          <div class="col-lg-10 col-md-10">
            <h4 class="ml-title-adjustable ml-title-font">Sell More</h4>
            <div class="ml-subtext">Sales teams often find it difficult to recall crucial product, competitor, and customer information. Empower your team to have a more meaningful conversation with customers and drive better sales performance.</div>
          </div>
        </div>
        <div class="row ml-margin-bottom20">
          <div class="col-lg-2 col-md-2 text-center padding30">
            <span class="icon-aim ml-icon-blue"></span>
          </div>
          <div class="col-lg-10 col-md-10">
            <h4 class="ml-title-adjustable ml-title-font">Stay Compliant</h4>
            <div class="ml-subtext">The cost of non-compliance can be huge for industries operating in regulated environments. Use SmartWinnr to reduce compliance breaches and to move from an incident-driven to a proactive approach.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
