<section class="ml-key-points">
  <div class="ml-container">
    <div class="row ml-margin-top10">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-center">
        <div class="ml-column text-center">
          <h1><span class="icon-arrow-down-circle ml-icon-blue"></span>30%</h1>
          <h6>Reduce Cost</h6>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <div class="ml-column text-center">
          <h1><span class="icon-arrow-up-circle ml-icon-blue"></span>67%</h1>
          <h6>Improve Knowledge Retention</h6>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-center">
        <div class="ml-column text-center">
          <h1><span class="icon-arrow-up-circle ml-icon-blue"></span>91%</h1>
          <h6>Increase Engagement</h6>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-center">
        <div class="ml-column text-center">
          <h1><span class="icon-arrow-up-circle ml-icon-blue"></span>22%</h1>
          <h6>Quota Attainment</h6>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="ml-background-white">
  <div class="ml-container ml-background-wave">
    <div class="row ml-margin-bottom0">
      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 ml-centered" align="center">
        <h1>Make Knowledge Your Competitive Edge</h1>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 padding80">
        <div class="row ml-margin-bottom20">
          <div class="col-lg-2 col-md-2 padding30">
            <span class="icon-lamp ml-icon-blue"></span>
          </div>
          <div class="col-lg-10 col-md-10">
            <h2>Be Smarter</h2>
            <div>Is your team struggling with information overload? Keep your team always informed through AI-driven personalized quizzes and knowledge feeds.</div>
          </div>
        </div>
        <div class="row ml-margin-bottom20">
          <div class="col-lg-2 col-md-2 padding30">
            <span class="icon-bag-dollar ml-icon-blue"></span>
          </div>
          <div class="col-lg-10 col-md-10">
            <h2>Sell More</h2>
            <div>Sales teams often find it difficult to recall crucial product, competitor, and customer information. Empower your team to have a more meaningful conversation with customers and drive better sales performance.</div>
          </div>
        </div>
        <div class="row ml-margin-bottom20">
          <div class="col-lg-2 col-md-2 padding30">
            <span class="icon-aim ml-icon-blue"></span>
          </div>
          <div class="col-lg-10 col-md-10">
            <h2>Stay Compliant</h2>
            <div>The cost of non-compliance can be huge for industries operating in regulated environments. Use SmartWinnr to reduce compliance breaches and to move from an incident-driven to a proactive approach.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
