<img class="swoop" src="/images/swoop_mask.min.svg">
<!-- <section class="ml-learning">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h1 class="ml_h1 title textaligncenter">Cognitive Science + Gamification + Artificial Intelligence = New Learning Paradigm</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4 text-center">
        <div class="single-features">
          <img alt="" class="ml-sideimage" src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/home/cognitive_science.svg" /></div>
        </div>
        <div class="col-md-8 col-sm-8">
          <div class="single-features">
            <h2 class="ml_h2 bluefont">Cognitive Science</h2>
            <p class="ml_body_text_black ml_f15">
              Research shows that training by itself is not sufficient to ensure learning. It needs to be complemented by tests. However, one-time tests encourage temporary rote learning and are ineffective in long-term retention. Multiple studies show that Interspaced learning through periodic quizzes is a highly effective way to increase cognition and retention.
            </p>
            <p class="ml_body_text_black ml_f15">
              SmartWinnr helps your team to increase their knowledge and improve retention through periodic short SmartQuizzes and SmartFeeds - Twitter-like feed with individualized knowledge content.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-sm-8">
          <div class="single-features">
            <h2 class="ml_h2 bluefont">Gamification</h2>
            <p class="ml_body_text_black ml_f15">
              Disinterested learners are poor learners. That is why SmartWinnr integrates game mechanics. Executives win performance-driven badges, gain knowledge levels and are ranked in leaderboards. The goal is to maximize engagement while making learning fun.
            </p>
            <p class="ml_body_text_black ml_f15">
              By tapping into learners’ inherent competitive spirit, SmartWinnr helps to make learning fun and highly engaging.
            </p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 text-center">
          <div class="single-features">
            <img alt="" class="ml-sideimage" src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/home/gamification_big.svg" /></div>
          </div>
        </div>
        <div class="">
          <div class="col-md-4 col-sm-4 text-center">
            <div class="single-features">
              <img alt="" class="ml-sideimage" src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/home/big_data_analytics.svg" /></div>
            </div>
            <div class="col-md-8 col-sm-8">
              <div class="single-features">
                <h2 class="ml_h2 bluefont">AI-Driven Delivery</h2>
                <p class="ml_body_text_black ml_f15">
                  SmartWinnr’s proprietary Knowledge Analytics Predictive Engine (KAPE™) uses Artificial Intelligence and Machine Learning to find knowledge gaps at an individual level. The KAPE engine then automatically sends the right SmartFeeds and SmartQuizzes to bridge the gap. By highlighting potential knowledge gap through its predictive algorithms, SmartWinnr helps enterprises to take remedial measures before the knowledge gap starts to impact revenue.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section> -->


<section class="ml-background-white">
  <div class="ml-container ml-background-wave">
    <div class="row ml-margin-bottom0">
      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 ml-centered" align="center">
        <h1>Cognitive Science + Gamification + Artificial Intelligence = New Learning Paradigm</h1>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 padding80">
        <div class="row ml-margin-bottom20">
          <div class="col-lg-2 col-md-2 text-center padding30">
            <span class="icon-brain ml-icon-blue"></span>
          </div>
          <div class="col-lg-10 col-md-10">
            <h4 class="ml-title-adjustable ml-title-font">Cognitive Science</h4>
            <div class="ml-subtext">
              Research shows that training by itself is not sufficient to ensure learning. It needs to be complemented by tests. However, one-time tests encourage temporary rote learning and are ineffective in long-term retention. Multiple studies show that Interspaced learning through periodic quizzes is a highly effective way to increase cognition and retention.</div>
            <div class="ml-subtext">
              SmartWinnr helps your team to increase their knowledge and improve retention through periodic short SmartQuizzes and SmartFeeds - Twitter-like feed with individualized knowledge content.
            </div>
          </div>
        </div>
        <div class="row ml-margin-bottom20">
          <div class="col-lg-2 col-md-2 text-center padding30">
            <span class="icon-trophy2 ml-icon-blue"></span>
          </div>
          <div class="col-lg-10 col-md-10">
            <h4 class="ml-title-adjustable ml-title-font">Gamification</h4>
            <div class="ml-subtext">
              Disinterested learners are poor learners. That is why SmartWinnr integrates game mechanics. Executives win performance-driven badges, gain knowledge levels and are ranked in leaderboards. The goal is to maximize engagement while making learning fun.
            </div>
            <div class="ml-subtext">
              By tapping into learners’ inherent competitive spirit, SmartWinnr helps to make learning fun and highly engaging.
            </div>
          </div>
        </div>
        <div class="row ml-margin-bottom20">
          <div class="col-lg-2 col-md-2 text-center padding30">
            <span class="icon-aim ml-icon-blue"></span>
          </div>
          <div class="col-lg-10 col-md-10">
            <h4 class="ml-title-adjustable ml-title-font">AI-Driven Delivery</h4>
            <div class="ml-subtext">
              SmartWinnr’s proprietary Knowledge Analytics Predictive Engine (KAPE™) uses Artificial Intelligence and Machine Learning to find knowledge gaps at an individual level. The KAPE engine then automatically sends the right SmartFeeds and SmartQuizzes to bridge the gap. By highlighting potential knowledge gap through its predictive algorithms, SmartWinnr helps enterprises to take remedial measures before the knowledge gap starts to impact revenue.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
