<section>
  <div class="ml-container">
    <div class="row ml-start ml-margin-bottom0">
      <div class="col-lg-4 col-md-4 col-sm-3 col-xs-12 ml-text-over-image">
        <h1>Reduce Compliance Breaches</h1>
        <!-- <h3>Help your team to be smarter, sell more and stay compliant through AI-driven gamified short quizzes and micro-learning feeds.</h3>
        <p align="center" class="ml-padding-top ml-padding-bottom10"><a class="ml-button" align="center" href="/request-demo">Request for demo</a></p> -->
      </div>
      <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12">
        <img class="ml-image" alt="Image" src="/images/rectangle.svg"/>
      </div>
    </div>
  </div>


  <!-- <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <img src="/images/compliance.png" class="pfbigimage" />
    </div>
    <h1 class="ml_text_over_image">Reduce Compliance Breaches</h1>
  </div> -->
  <!-- <div class="ml-green-tile padding30">
      <div class="row ml-container">
        <div class="col-md-12">
          <h1 class="ml-title text-center">SmartWinnr Solutions</h1>
          <div class="ml_padding_top_bottom">
            <p class="ml_body_text_black">
              Do you want to change your compliance practices and move from an incident-driven approach to a more proactive approach? Use SmartWinnr to inject compliance into the DNA of every employee so that compliance becomes a part of the culture.
            </p>
            <p class="ml_body_text_black">
              Regulatory requirements are constantly changing and becoming ever more complex. Use SmartWinnr as part of your workshops and training to easily and effectively communicate crucial information about regulatory requirements and emerging risks. Raise awareness through regular post-training, post-workshop reinforcements to continuously refresh regulatory requirements and changes at real-time. SmartWinnr will help you identify areas of potential breach and help to move from an enforcement-based to behaviour-based approach.
            </p>
          </div>
        </div>
      </div>
    </div> -->
    <div class="ml-background-wave padding30">
      <div class="ml-container">
        <div class="row ml-margin-bottom0">
          <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 ml-left-tile">
            <h4 class="ml-bold-text ml_body_text_black">Specific Use Cases in Compliance - Growing</h4>
            <ul>
              <li class="ml_body_text_black ml-list-style-disc">Refresher Training on Regulatory Compliance like AML, etc</li>
              <li class="ml_body_text_black ml-list-style-disc">Onboarding of New Staff</li>
              <li class="ml_body_text_black ml-list-style-disc">Train all External Contractors</li>
              <li class="ml_body_text_black ml-list-style-disc">Prepare your team before audits</li>
            </ul>
          </div>
          <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 ml-right-tile">
              <img class="ml-tile-image" src="/images/undraw_growing_rk7d.svg" alt="">
          </div>
        </div>
      </div>
    </div>
    <!-- paragraph2 -->
  <div class="ml-this-tile">
    <div class="ml-container table_container">
      <div class="row table_row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 table_col ml_left_side">
          <!-- <span class=""> -->
            <img style="width: 100%; height: 300px;" class="ml-tile-image" src="/images/undraw_security_on_6e8f.svg" alt="">
          <!-- </span> -->
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 table_col ml_right_side">
          <div class="">
            <p class="ml-bold-text text-center ml_body_text_black">Raise Regulatory Awareness</p>
            <p class="ml_body_text_black ml_f15">
              Lack of compliance awareness has been singled out as one of the prime factors for regulatory breaches in the Banking and Financial industry. Moreover, given the multitude of rules and regulations, a one-size-fits-all approach no longer works. SmartWinnr can help to drive compliance awareness for different teams and automatically send personalized quizzes and SmartFeeds depending on individual knowledge level and compliance requirements.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- paragraph3 -->
  <div class="ml-this-tile">
    <div class="ml-container table_container">
      <div class="row table_row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 table_col ml_right_side">
          <div class="">
            <p class="ml-bold-text text-center ml_body_text_black">Reduce Risk of Potential Breach</p>
            <p class="ml_body_text_black ml_f15">
              SmartWinnr's Knowledge Analytics Predictive Engine (KAPE) can proactively identify individuals, teams, branches or geographies with low compliance awareness. You can, therefore, take proactive actions to bridge those gaps and prevent a potential compliance breach.
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 table_col ml_left_side">
          <!-- <span class=""> -->
            <img style="width: 100%; height: 300px;" class="ml-tile-image" src="/images/undraw_choose_80qg.svg" alt="">
          <!-- </span> -->
        </div>
      </div>
    </div>
  </div>

  <!-- paragraph4 -->
  <div class="ml-this-tile">
    <div class="ml-container table_container">
      <div class="row table_row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 table_col ml_left_side">
          <!-- <span class=""> -->
            <img style="width: 100%; height: 300px;" class="ml-tile-image" src="/images/undraw_development_ouy3.svg" alt="">
          <!-- </span> -->
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 table_col ml_right_side">
          <div class="">
            <p class="ml-bold-text text-center ml_body_text_black">Keep Pace with Frequent Regulatory Changes</p>
            <p class="ml_body_text_black ml_f15">
              When regulations change frequently, as they do in today's times, it is difficult to keep your team up-to-date with the changes. Traditional methods of email campaigns, e-learning etc. are ineffective in ensuring that the changed information is actually retained by your employees. SmartWinnr acts as a single channel to push all these information and assesses the level of retention by individual team members.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- paragraph5 -->
  <div class="ml-this-tile">
    <div class="ml-container table_container">
      <div class="row table_row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 table_col ml_right_side">
          <div class="">
            <p class="ml-bold-text text-center ml_body_text_black">Make Regulatory Training Fun and Engaging</p>
            <p class="ml_body_text_black ml_f15">
              Regulatory training is often seen as just another item that needs to be done. Team members often take mandatory e-learning exams together defeating the purpose of such initiatives. SmartWinnr's game mechanics drive healthy competition through leaderboard, ranks, and badges which keep employees engaged and make regulatory training fun and rewarding.
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 table_col ml_left_side">
          <!-- <span class="ml-tile-image"> -->
            <img style="width: 100%; height: 300px;" class="ml-tile-image" src="/images/undraw_swipe_profiles1_i6mr.svg" alt="">
          <!-- </span> -->
        </div>
      </div>
    </div>
  </div>

  <!-- paragraph6 -->
  <div class="ml-this-tile">
    <div class="ml-container table_container">
      <div class="row table_row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 table_col ml_left_side">
          <!-- <span class="ml-tile-image"> -->
            <img style="width: 100%; height: 300px;" class="ml-tile-image" src="/images/undraw_connected_8wvi.svg" alt="">
          <!-- </span> -->
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 table_col ml_right_side">
          <div class="">
            <p class="ml-bold-text text-center ml_body_text_black">Identify Gaps and Take Action</p>
            <p class="ml_body_text_black ml_f15">
              Traditional compliance exams can only provide information about knowledge level during the exam. SmartWinnr's approach of sending regular individualized quizzes helps to determine actual knowledge retention and also to identify specific gaps. This in-depth analytics can be used to take follow-up actions and bridge the knowledge gap.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- paragraph7 -->
  <div class="ml-this-tile">
    <div class="ml-container table_container">
      <div class="row table_row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 table_col ml_right_side">
          <div class="">
            <p class="ml-bold-text text-center ml_body_text_black">Use One Channel to Train All your Stakeholders</p>
            <p class="ml_body_text_black ml_f15">
              Financial institutions are responsible for any breaches that might happen at related third-parties who work their behalf. It is often difficult and expensive to train these stakeholders about regulatory compliances. SmartWinnr's cloud hosted solution enables you to assess and inform all stakeholder about your compliance policies and processes.
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 table_col ml_left_side">
          <!-- <span class="ml-tile-image"> -->
            <img style="width: 100%; height: 300px;" class="ml-tile-image" src="/images/undraw_credit_card_payment_yb88.svg" alt="">
          <!-- </span> -->
        </div>
      </div>
    </div>
  </div>
  {{ partial "why-choose-sm" . }}
  <!-- paragraph8 -->
  <!-- <div class="ml-this-tile padding30">
    <div class="container table_container">
      <div class="row table_row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 table_col ml_left_side">
          <div class="">
            <div class="">
              <span class="icon-license2 ml-icon-white"></span>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 table_col ml_right_side">
          <div class="">
            <h4 class="ml-title">Specific Use Cases in Compliance</h4>
            <p class="ml_body_text_black ml_f15">
              </p>
            <ul>
              <li class="ml_body_text_black ml-list-style-disc">Refresher Training on Regulatory Compliance like AML, etc</li>
              <li class="ml_body_text_black ml-list-style-disc">Onboarding of New Staff</li>
              <li class="ml_body_text_black ml-list-style-disc">Train all External Contractors</li>
              <li class="ml_body_text_black ml-list-style-disc">Prepare your team before audits</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</section>
