<nav id="main-nav" class="navbar navbar-default purple-background" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="toggle navbar-toggle" data-toggle="collapse" data-target=".navbar-top-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{{ .Site.BaseURL }}"><img class="ml-logo" id="navbar-logo" src="{{ relURL "/images/smartwinnr_white_logo.png" }}" style="height:32px"></a>
    </div>

    <div class="collapse navbar-collapse navbar-top-collapse">
      <ul class="nav navbar-nav navbar-right">
        <!-- <li><a href="{{ .Site.BaseURL }}"><span class='nav-home'></span></a></li> -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Product <span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-main-nav">
            <li><a href="/product/product-features">Product Features</a></li>
            <li><a href="/product/enterprise-ready">Enterprise Ready</a></li>
            <li><a href="/product/customer-success">Customer Success</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Solutions <span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-main-nav">
            <li><a href="/solutions/sales">Sales</a></li>
            <li><a href="/solutions/legal-and-compliance">Legal & Compliance</a></li>
          </ul>
        </li>
        <li><a href="/blog/">Blog</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">About Us <span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-main-nav">
            <li><a href="/about-us/company">Company</a></li>
            <li><a href="/about-us/privacy-policy">Privacy Policy</a></li>
            <li><a href="/about-us/acceptable-use-policy">Acceptable Use Policy</a></li>
          </ul>
        </li>
        <li><a href="/contact-us/">Contact Us</a></li>
        <li><a href="/resources/">Resources</a></li>
        <li><a href="/partners/">Partners</a></li>
        <li role="presentation" class="divider-vertical"><span>|</span></li>
          <li class=""><a href="https://app.smartwinnr.com/">Log in <span class="login-caret"></span></a></li>
          <!-- <li class="visible-xs"><a href="https://manager.linode.com/session/signup">Sign up</a></li>
          <li class="hidden-xs"><div><a id="btn-signup-top" class="btn btn-sm btn-green navbar-btn hidden-xs" href="https://manager.linode.com/session/signup">Sign up</a></div></li> -->
      </ul>
    </div>

  </div>
</nav>
