<!-- <nav id="main-nav" class="navbar navbar-default" role="navigation">
  <div class="ml_nav_container">
    <div class="navbar-header">
      <button type="button" class="toggle navbar-toggle" data-toggle="collapse" data-target=".navbar-top-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{{ .Site.BaseURL }}"><img class="ml-logo" id="navbar-logo" src="{{ relURL "/images/smartwinnr_logo.png" }}"></a>
    </div>

    <div class="collapse navbar-collapse navbar-top-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Product <span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-main-nav">
            <li><a href="/product/targeted-learning">Targeted Learning</a></li>
            <li><a href="/product/sales-coaching">Sales Coaching</a></li>
            <li><a href="/product/sales-contest">Sales Contest</a></li>
            <li><a href="/product/content-repository">Content Repository</a></li>
            <li><a href="/product/gamification">Gamification</a></li>
            <li><a href="/product/product-features">General Features</a></li>
            <li><a href="/product/enterprise-ready">Enterprise Ready</a></li>
            <li><a href="/product/customer-success">Customer Success</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Solutions <span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-main-nav">
            <li><a href="/solutions/sales">Sales</a></li>
            <li><a href="/solutions/legal-and-compliance">Legal & Compliance</a></li>
          </ul>
        </li>
        <li><a href="/post/">Blog</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">About Us <span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-main-nav">
            <li><a href="/about-us/privacy-policy">Privacy Policy</a></li>
            <li><a href="/about-us/acceptable-use-policy">Acceptable Use Policy</a></li>
            <li><a rel="nofollow" href="/about-us/contact-us/">Contact Us</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources<span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-main-nav">
            <li><a href="/resources/customer-stories">Customer Stories</a></li>
            <li><a href="/resources/case-studies-whitepapers">Case Studies & Whitepapers</a></li>
          </ul>
        </li>
          <li><a class="sign_in_btn" href="https://app.smartwinnr.com/">Log in <span class="login-caret"></span></a></li>
          <li><a class="ml-button-nav" href="/request-demo">Request demo</a></li>
      </ul>
    </div>

  </div>
</nav> -->


<div class="new-navbar">
  <a href="{{ .Site.BaseURL }}" class="ml_home_logo"><img class="ml-logo" id="navbar-logo" src="{{ relURL "/images/smartwinnr_logo.webp" }}"></a>
  <a id="request-demo" class="ml-button-nav pull-right" href="/request-demo">Request demo</a>
  <a id="log-in" class="sign_in_btn pull-right" href="https://app.smartwinnr.com/">Log in <span class="login-caret"></span></a>
  <button type="button" class="toggle navbar-toggle" data-toggle="collapse" data-target=".navbar-top-collapse">
    <i class="fa fa-bars"></i>
  </button>
  <div class="navbar-group">
    <div class="navbar-dropdown">
      <span class="dropdown-button">What is SmartWinnr <i class="fa fa-caret-down"></i></span>
      <div class="dropdown-content animated fadeInDown">
        <div class="dropdown-row">
          <div class="column">
            <h3 class="pull-right">What is SmartWinnr</h3>
          </div>
          <div class="column">
            <h4>Features</h4>
            <a href="/product/sales-contest">Sales Contest</a>
            <a href="/product/sales-incentives">Sales Incentive</a>
            <a href="/product/sales-coaching">Sales Coaching</a>
            <a href="/product/targeted-learning/">Targeted Learning</a>
            <a href="/product/content-repository">Knowledge Hub</a>
            <a href="/product/gamification">Gamification</a>
            <a href="/back-to-work">Back to Work</a>
            <!-- <a href="/product/product-features">Core Features</a> -->
          </div>
          <div class="column">
            <h4>Why SmartWinnr?	</h4>
            <a href="/product/enterprise-ready">Enterprise Ready</a>
            <a href="/product/customer-success">Customer Success</a>
          </div>
          <div class="column">
            <h4>Services </h4>
            <a href="/product/implementation">Implementation</a>
            <a href="/product/consulting">Consulting</a>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar-dropdown">
      <span class="dropdown-button">Solutions <i class="fa fa-caret-down"></i></span>
      <div class="dropdown-content animated fadeInDown">
        <div class="dropdown-row">
          <div class="column">
            <h3 class="pull-right">Solutions</h3>
          </div>
          <div class="column">
            <h4>Business Functions</h4>
            <a href="/solutions/sales">Sales</a>
            <!-- <a href="/solutions/legal-and-compliance">Legal & Compliance</a> -->
            <a href="/solutions/call-center">Call Center</a>
            <a href="/solutions/marketing">Marketing</a>
          </div>
          <div class="column">
            <h4>Use Cases</h4>
            <a href="/solutions/improve-sales-productivity">Improve Sales Productivity</a>
            <a href="/solutions/new-hire-onboarding">New Hire Onboarding</a>
            <a href="/solutions/new-product-launch">New Product Launch</a>
            <a href="/solutions/channel-partner-training">Channel Partner Training</a>
            <a href="/solutions/sales-events">Sales Events</a>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar-dropdown">
      <span class="dropdown-button">Industries <i class="fa fa-caret-down"></i></span>
      <div class="dropdown-content animated fadeInDown">
        <div class="dropdown-row">
          <div class="column">
            <h3 class="pull-right">Industries</h3>
          </div>
          <div class="column">
            <h4>Industries</h4>
            <a href="/solutions/technology">Technology</a>
            <a href="/solutions/insurance">Insurance</a>
            <a href="/solutions/pharma">Pharma</a>
            <a href="/solutions/medical-devices">Medical Devices</a>
            <a href="/solutions/senior-living">Senior Living</a>
            <a href="/solutions/banking">Banking</a>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar-dropdown">
      <span class="dropdown-button">Resources <i class="fa fa-caret-down"></i></span>
      <div class="dropdown-content animated fadeInDown">
        <div class="dropdown-row">
          <div class="column">
            <h3>Resources</h3>
          </div>
          <div class="column">
            <h4>Resources</h4>
            <a href="/resources/case-studies-whitepapers/#caseStudies">Case Studies</a>
            <a href="/resources/customer-stories/">Customer Stories</a>
            <a href="https://smartwinnr.drift.help/" rel="noreferrer" target="_blank">SmartWinnr Help</a>
            <a href="https://tools.smartwinnr.com/#/contest-theme-generator" rel="noreferrer" target="_blank">Contest Template Designer Tool</a>
          </div>
          <div class="column">
            <h4>Blogs</h4>
            <a href="/tags/sales-contests/">Sales Contests</a>
            <a href="/tags/sales-training/">Sales Training</a>
            <a href="/tags/gamification/">Gamification</a>
            <a href="/post/">All Blogs</a>
          </div>
          <div class="column">
            <h4>Most Popular</h4>
            <a href="/post/top-20-sales-contest-names/">Top 20 Sales Contest Names</a>
            <a href="/post/25-creative-sales-team-names/">25 Creative Sales Team Names</a>
            <a href="/post/sales-incentive-ideas-to-keep-your-sales-team-motivated/">23 Sales incentive ideas to keep your sales team motivated</a>
            <a href="/post/sales-contest-communication-template/">Sales Contest Communication Template</a>
          </div>
        </div>
      </div>
    </div>
    <span class="navbar-button">
      <a class="ml_body_text_black" href="/post">Blogs</a>
    </span>
  </div>
  <div class="collapse navbar-collapse navbar-top-collapse ml-margin-bottom0">
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle ml-margin-right0" data-toggle="dropdown">What is SmartWinnr <span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-main-nav">
          <div class="column">
            <h4>Features</h4>
            <a href="/product/sales-contest">Sales Contest</a>
            <a href="/product/sales-coaching">Sales Coaching</a>
            <a href="/product/targeted-learning/">Targeted Learning</a>
            <a href="/product/content-repository">Knowledge Hub</a>
            <a href="/product/gamification">Gamification</a>
            <a href="/back-to-work">Back to Work</a>
            <!-- <a href="/product/product-features">Core Features</a> -->
          </div>
          <div class="column">
            <h4>Why SmartWinnr?	</h4>
            <a href="/product/enterprise-ready">Enterprise Ready</a>
            <a href="/product/customer-success">Customer Success</a>
          </div>
          <div class="column">
            <h4>Services </h4>
            <a href="/product/implementation">Implementation</a>
            <a href="/product/consulting">Consulting</a>
          </div>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle ml-margin-right0" data-toggle="dropdown">Solutions <span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-main-nav">
          <div class="column">
            <h4>Business Functions</h4>
            <a href="/solutions/sales">Sales</a>
            <!-- <a href="/solutions/legal-and-compliance">Legal & Compliance</a> -->
            <a href="/solutions/call-center">Call Center</a>
            <a href="/solutions/marketing">Marketing</a>
          </div>
          <div class="column">
            <h4>Use Cases</h4>
            <a href="/solutions/improve-sales-productivity">Improve Sales Productivity</a>
            <a href="/solutions/new-hire-onboarding">New Hire Onboarding</a>
            <a href="/solutions/new-product-launch">New Product Launch</a>
            <a href="/solutions/channel-partner-training">Channel Partner Training</a>
            <a href="/solutions/sales-events">Sales Events</a>
          </div>
          <div class="column">
          </div>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle ml-margin-right0" data-toggle="dropdown">Industries <span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-main-nav">
          <div class="column">
            <h4>Industries</h4>
            <a href="/solutions/technology">Technology</a>
            <a href="/solutions/insurance">Insurance</a>
            <a href="/solutions/pharma">Pharma</a>
            <a href="/solutions/medical-devices">Medical Devices</a>
            <a href="/solutions/senior-living">Senior Living</a>
            <a href="/solutions/banking">Banking</a>
          </div>
          <div class="column">
          </div>
          <div class="column">
          </div>
        </ul>
      </li>
      <li>
        <a href="#" class="dropdown-toggle ml-margin-right0" data-toggle="dropdown">Resources<span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-main-nav">
          <div class="column">
            <h4>Resources</h4>
            <a href="/resources/case-studies-whitepapers/#caseStudies">Case Studies</a>
            <a href="/resources/customer-stories/">Customer Stories</a>
            <a href="https://smartwinnr.drift.help/" rel="noreferrer" target="_blank">SmartWinnr Help</a>
            <a href="https://tools.smartwinnr.com/#/contest-theme-generator" rel="noreferrer" target="_blank">Contest Template Designer Tool</a>
          </div>
          <div class="column">
            <h4>Blogs</h4>
            <a href="/tags/sales-contests/">Sales Contests</a>
            <a href="/tags/sales-training/">Sales Training</a>
            <a href="/tags/gamification/">Gamification</a>
            <a href="/post/">All Blogs</a>
          </div>
          <div class="column">
            <h4>Most Popular</h4>
            <a href="/post/top-20-sales-contest-names/">Top 20 Sales Contest Names</a>
            <a href="/post/25-creative-sales-team-names/">25 Creative Sales Team Names</a>
            <a href="/post/sales-incentive-ideas-to-keep-your-sales-team-motivated/">23 Sales incentive ideas to keep your sales team motivated</a>
            <a href="/post/sales-contest-communication-template/">Sales Contest Communication Template</a>
          </div>
        </ul>
      </li>
      <li>
        <a href="/post/" class="ml-margin-right0">Blogs</a>
      </li>
      <li>
        <a class="ml_special_button pull-left" href="/request-demo">Request Demo</a>
      </li>
    </ul>
    <!-- <div class="nav navbar-nav navbar-right">
      <div class="card ml_bordered_card dropdown ml-margin-top-bottom0">
        <div class="card-header dropdown-toggle ml-padding-top-bottom2" data-toggle="dropdown">
          <a href="#" class="ml-margin-right0">Platform <span class="caret"></span></a>
        </div>
        <div class="card-body dropdown-menu dropdown-main-nav ml-padding-bottom0">
          <div class="column">
            <h4>Features</h4>
            <a href="#">Targeted Microlearning</a>
            <a href="#">AI-Driven Automated Quiz</a>
            <a href="#">Video Coaching</a>
            <a href="#">KPI & Activity Gamification</a>
            <a href="#">Collaboration & Tribal Knowledge</a>
            <a href="#">Achievements and Rewards</a>
          </div>
          <div class="column">
            <h4>Services</h4>
            <a href="#">Implementation</a>
            <a href="#">Consulting</a>
            <a href="#">SmartWinnr Creatives</a>
          </div>
          <div class="column">
            <h4>Integrations</h4>
            <a href="#">Salesforce</a>
            <a href="#">API</a>
          </div>
        </div>
      </div>
      <div class="card ml_bordered_card dropdown ml-margin-top-bottom0">
        <div class="card-header dropdown-toggle ml-padding-top-bottom2" data-toggle="dropdown">
          <a href="#" class="ml-margin-right0">Solutions <span class="caret"></span></a>
        </div>
        <div class="card-body dropdown-menu dropdown-main-nav ml-padding-bottom0">
          <div class="column">
            <h4>Use Cases</h4>
            <a href="#">Onboarding</a>
            <a href="#">Continuous Learning</a>
            <a href="#">Coaching & Assessment</a>
            <a href="#">New Product Launch</a>
            <a href="#">Process Adoption</a>
            <a href="#">Sales Event</a>
          </div>
          <div class="column">
            <h4>Industries</h4>
            <a href="#">Technology & Software</a>
            <a href="#">Telecommunication</a>
            <a href="#">Financial Services & Insurance</a>
            <a href="#">Pharmaceuticals</a>
            <a href="#">Medical Devices</a>
            <a href="#">Healthcare</a>
            <a href="#">Transportation & Logistics</a>
          </div>
          <div class="column">
            <h4>Business Functions</h4>
            <a href="/solutions/sales">Sales</a>
            <a href="#">Customer Support</a>
            <a href="#">Marketing</a>
            <a href="#">HR</a>
            <a href="/solutions/legal-and-compliance">Legal & Compliance</a>
          </div>
        </div>
      </div>
      <div class="card ml_bordered_card dropdown ml-margin-top-bottom0">
        <div class="card-header dropdown-toggle ml-padding-top-bottom2" data-toggle="dropdown">
          <a href="#" class="ml-margin-right0">Why SmartWinnr <span class="caret"></span></a>
        </div>
        <div class="card-body dropdown-menu dropdown-main-nav ml-padding-bottom0">
        </div>
      </div>
      <div class="card ml_bordered_card dropdown ml-margin-top-bottom0">
        <div class="card-header dropdown-toggle ml-padding-top-bottom2" data-toggle="dropdown">
          <a href="#" class="ml-margin-right0">Resources <span class="caret"></span></a>
        </div>
        <div class="card-body dropdown-menu dropdown-main-nav ml-padding-bottom0">
        </div>
      </div>
      <div class="card ml_bordered_card ml-margin-top-bottom0">
        <div class="card-header ml-padding-top-bottom2">
          <a href="/request-demo" class="ml-margin-right0">Request Demo</a>
        </div>
      </div>
    </div> -->
  </div>
</div>
<!-- <div class="ml-padding-bottom60 ">

</div> -->