<section>
  <div class="ml-container">
    <div class="row ml-start ml-margin-bottom0">
      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 ml-text-over-image">
        <h1>If knowledge matters for your organization success, you need SmartWinnr.</h1>
        <h3>SmartWinnr helps to drive team performance through better knowledge retention. Gamified mobile-friendly short quizzes and Twitter-like SmartFeeds keeps your team always up to date with latest information.</h3>
        <p align="center" class="ml-padding-top ml-padding-bottom10"><a class="ml-button" align="center" href="/request-demo">Request for demo</a></p>
      </div>
      <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <img class="ml-image" alt="Image" src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/app_front_page_perspective_tecnology.png"/>
      </div>
    </div>
  </div>
</section>
  <!-- <div class="ml-white-tile">
    <div class="ml-container">
      <div class="row">
        <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/app_front_page_perspective_tecnology.png" class="ml-image" />
        <div class="ml-text-over-image">
          <h1 class="ml_body_text_black">If knowledge matters for your organization success, you need SmartWinnr.</h1>
          <h3 class="ml_body_text_black">
            SmartWinnr helps to drive team performance through better knowledge retention. Gamified mobile-friendly short quizzes and Twitter-like SmartFeeds keeps your team always up to date with latest information.
          </h3>
          <p align="center"><a class="ml-button" href="/request-demo">Request for demo</a></p>
        </div>
      </div>
    </div>
  </div> -->
<section>
  <div class="ml-background-light">
    <div class="row ml-container">
      <div class="col-md-6 col-sm-12">
        <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/easy_toISe.svg" class="padding10" />
      </div>
      <div class="col-md-6 col-sm-12 ml-centered">
        <h1 class="text-center ml-title">Intuitive and Easy to use</h1>
        <div class="ml-subtext">
          It takes less than 1 minute to create a question. Users can take quizzes very easily anytime, anywhere. You can set-up a competition in 2 minutes.
        </div>
      </div>
    </div>
  </div>
  <div class="ml-this-tile">
    <div class="row ml-container">
      <div class="col-md-6 col-sm-12 ml-centered">
        <h1 class="text-center ml-title">Identify Knowledge Gaps at a Glance</h1>
        <div class="ml-subtext">
          Smartwinnr's AI engine identifies knowledge gaps in your team and automagically sends individualized SmartQuizzes and SmartFeeds. You can visualize the gaps through heatmaps and other easy to use charts.
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/heatmap.svg" class="padding10 rotate-0" />
      </div>
    </div>
  </div>
  <div class="ml-background-light">
    <div class="row ml-container">
      <div class="col-md-6 col-sm-12">
        <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/quiz_stats.svg" class="padding10 rotate-1" />
      </div>
      <div class="col-md-6 col-sm-12 ml-centered">
        <h1 class="text-center ml-title">Make Learning as Fun and Engaging</h1>
        <div class="ml-subtext">
          Gamification elements like competitions, leaderboards, badges, and levels keep the users engaged and increase completion rates.
        </div>
      </div>
    </div>
  </div>
  <div class="ml-container ml-background-white padding30">
    <div class="row text-center">
        <h1 class="ml-title">Feature by feature</h1>
    </div>
    <!-- Product Features Row 1 -->
    <div class="row ml-prodfeaturerow ml-padding-top">
      <h2 class="ml-title text-center">User Experience</h2>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator ml-prodfeaturecell">
          <span class="icon-paper-plane ml-icon-blue"></span>
          <!-- <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/easy_authoring.svg" class="qpicon"> -->
          <p class="text-center ml-bold-text">Intuitive and Easy-to-use</p>
          <p class="ml_body_text_black">Reps can start quiz in 1 click with no prior training which leads to high engagement.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator ml-prodfeaturecell">
          <span class="icon-smartphone ml-icon-blue"></span>
          <!-- <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/rich_media_content.svg" class="qpicon"> -->
          <p class="text-center ml-bold-text">Mobile Device Enabled</p>
          <p class="ml_body_text_black">
            Runs in iPhone, iPad, Android smartphones and Android tablets so that reps can take quizzes anytime, anywhere.
          </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator ml-prodfeaturecell">
          <span class="icon-brain ml-icon-blue"></span>
          <!-- <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/deep_search.svg" class="qpicon"> -->
          <p class="text-center ml-bold-text">Fun and Engaging</p>
          <p class="ml_body_text_black">
            Gamification elements like competitions, leaderboards, badges, and levels motivate reps, increase retention and transform learning into a high-engagement activity.
          </p>
        </div>
      </div>
    </div>
    <!-- Product Features  Row 2 -->
    <div class="row ml-prodfeaturerow ml-padding-top">
      <h2 class="ml-title text-center">Quiz/Question Management - for Trainers/Managers</h2>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator ml-prodfeaturecell">
          <span class="icon-pen2 ml-icon-blue"></span>
          <!-- <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/easy_authoring.svg" class="qpicon"> -->
          <p class="text-center ml-bold-text">Easy Authoring</p>
          <p class="ml_body_text_black">
            Trainers/managers can create a question in 1 minute, using our intuitive web-based authoring tool without any IT intervention.
          </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator ml-prodfeaturecell">
          <span class="icon-picture2 ml-icon-blue"></span>
          <!-- <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/rich_media_content.svg" class="qpicon"> -->
          <p class="text-center ml-bold-text">Rich-Media Support</p>
          <p class="ml_body_text_black">
            Embed images, videos and rich media text in questions and explanations for an immersive experience
          </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator ml-prodfeaturecell">
          <span class="icon-list3 ml-icon-blue"></span>
          <!-- <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/classify_questions.svg" class="qpicon"> -->
          <p class="text-center ml-bold-text">Multiple Languages</p>
          <p class="ml_body_text_black">
            Questions can be created in Unicode based languages like Chinese, Japanese, etc. making SmartWinnr extremely flexible and usable in different geographical regions.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator ml-prodfeaturecell">
          <span class="icon-copy ml-icon-blue"></span>
          <!-- <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/different_question_types.svg" class="qpicon"> -->
          <p class="text-center ml-bold-text">Multiple Question Types</p>
          <p class="ml_body_text_black">
            Create question by different question types like single option, multi-choice, fill-in-the-blanks and timed questions
          </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator ml-prodfeaturecell">
          <span class="icon-sync ml-icon-blue"></span>
          <!-- <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/reusable_questions.svg" class="qpicon"> -->
          <p class="text-center ml-bold-text">Reusable Questions</p>
          <p class="ml_body_text_black">Use the Question Bank to create different quizzes from the same set of questions</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator ml-prodfeaturecell">
          <span class="icon-file-preview ml-icon-blue"></span>
          <!-- <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/deep_search.svg" class="qpicon"> -->
          <p class="text-center ml-bold-text">Deep Search</p>
          <p class="ml_body_text_black">
            Find questions, SmartFeeds or users by keywords, using the inbuilt deep search functionality, making it extremely easy to use.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator ml-prodfeaturecell">
          <span class="icon-lamp ml-icon-blue"></span>
          <!-- <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/schedule_quiz.svg" class="qpicon"> -->
          <p class="text-center ml-bold-text">Automated Quiz</p>
          <p class="ml_body_text_black">
            Let SmartWinnr automatically send periodic SmartQuizzes and SmartFeeds to individuals based on their knowledge gaps.
          </p>
        </div>
      </div>
    </div>
    <!-- Product Features  Row 3 -->
    <div class="row ml-prodfeaturerow ml-padding-top">
      <h2 class="ml-title text-center">Gamification</h2>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator ml-prodfeaturecell">
          <span class="icon-trophy2 ml-icon-blue"></span>
          <!-- <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/gamification_engine.svg" class="qpicon"> -->
          <p class="text-center ml-bold-text">Gamification Engine</p>
          <p class="ml_body_text_black">Increase user engagement through our adaptive gamification engine</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator ml-prodfeaturecell">
          <span class="icon-diamond2 ml-icon-blue"></span>
          <!-- <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/leaderboard.svg" class="qpicon"> -->
          <p class="text-center ml-bold-text">Leaderboards</p>
          <p class="ml_body_text_black">Get real-time competitive ranking through leaderboards</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator ml-prodfeaturecell">
          <span class="icon-podium ml-icon-blue"></span>
          <!-- <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/badges.svg" class="qpicon"> -->
          <p class="text-center ml-bold-text">Competitions</p>
          <p class="ml_body_text_black">Motivate users through performance-based customized badges</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator ml-prodfeaturecell">
          <span class="icon-medal-empty ml-icon-blue"></span>
          <!-- <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/badges.svg" class="qpicon"> -->
          <p class="text-center ml-bold-text">Badges</p>
          <p class="ml_body_text_black">Motivate users through performance-based customized badges</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator ml-prodfeaturecell">
          <span class="icon-resize-handle ml-icon-blue"></span>
          <!-- <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/levels.svg" class="qpicon"> -->
          <p class="text-center ml-bold-text">Levels</p>
          <p class="ml_body_text_black">Track progress in each topic through knowledge levels</p>
        </div>
      </div>
    </div>
    <!-- Product Features  Row 4 -->
    <div class="row ml-prodfeaturerow ml-padding-top">
      <h2 class="ml-title text-center">Analytics</h2>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator ml-prodfeaturecell">
          <span class="icon-chart-bars ml-icon-blue"></span>
          <!-- <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/realtime_analytics.svg" class="qpicon"> -->
          <p class="text-center ml-bold-text">Real-time Analytics</p>
          <p class="ml_body_text_black">Get actionable insights through drill-down analytics by region, user or topic</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator ml-prodfeaturecell">
          <span class="icon-icons ml-icon-blue"></span>
          <!-- <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/heatmap_analytics.svg" class="qpicon"> -->
          <p class="text-center ml-bold-text">HeatMap Analytics</p>
          <p class="ml_body_text_black">Easily identify knowledge gaps through color-coded HeatMaps</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator ml-prodfeaturecell">
          <span class="icon-podium ml-icon-blue"></span>
          <!-- <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/granular_comparisions.svg" class="qpicon" /> -->
          <p class="text-center ml-bold-text">Granular Comparisons</p>
          <p class="ml_body_text_black">Compare performance between individuals, teams or regions</p>
        </div>
      </div>
    </div>
    <!-- Product Features  Row 5 -->
    <div class="row ml-prodfeaturerow ml-padding-top">
      <h2 class="ml-title text-center">Communication</h2>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator ml-prodfeaturecell">
          <span class="icon-shuffle ml-icon-blue"></span>
          <!-- <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/activity_stream.svg" class="qpicon" /> -->
          <p class="text-center ml-bold-text">Activity Stream</p>
          <p class="ml_body_text_black">Get all updates in the app in a single stream for quick action</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator ml-prodfeaturecell">
          <span class="icon-envelope ml-icon-blue"></span>
          <!-- <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/push_notifications.svg" class="qpicon" /> -->
          <p class="text-center ml-bold-text">Push Notifications</p>
          <p class="ml_body_text_black">Get real-time updates through in-app push notifications</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator ml-prodfeaturecell">
          <span class="icon-envelope ml-icon-blue"></span>
          <!-- <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/push_notifications.svg" class="qpicon" /> -->
          <p class="text-center ml-bold-text">Email Notifications</p>
          <p class="ml_body_text_black">Get email notifications on new SmartQuiz/SmartFeed assignment</p>
        </div>
      </div>
    </div>
    <!-- Product Features  Row 6 -->
    <div class="row ml-prodfeaturerow ml-padding-top ml-no-border-bottom">
      <h2 class="ml-title text-center">Security and Access</h2>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator ml-prodfeaturecell">
          <span class="icon-shield-check ml-icon-blue"></span>
          <!-- <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/rich_media_content.svg" class="qpicon" /> -->
          <p class="text-center ml-bold-text">Encrypted Communication</p>
          <p class="ml_body_text_black">Secured communication through SSL encryption and encrypted data storage</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator ml-prodfeaturecell">
          <span class="icon-lock ml-icon-blue"></span>
          <!-- <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/rich_media_content.svg" class="qpicon" /> -->
          <p class="text-center ml-bold-text">Access Control</p>
          <p class="ml_body_text_black">Provide individuals limited access based on roles </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator ml-prodfeaturecell">
          <span class="icon-link2 ml-icon-blue"></span>
          <!-- <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/single_signon.svg" class="qpicon" /> -->
          <p class="text-center ml-bold-text">Single Sign-on</p>
          <p class="ml_body_text_black">Access SmartWinnr using Single Sign-on using your corporate identity provider</p>
        </div>
      </div>
    </div>
  </div>
</section>
