<section>
  <div class="ml-white-tile">
    <div class="ml-container">
      <!-- <div class="col-md-6 col-sm-12"> -->
      <div class="row">
        <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/app_front_page_perspective_tecnology.png" class="ml-image" />
        <div class="ml-text-over-image">
          <h1 class="ml_body_text_black">If knowledge matters for your organization success, you need SmartWinnr.</h1>
          <h3 class="ml_body_text_black">
            SmartWinnr helps to drive team performance through better knowledge retention. Gamified mobile-friendly short quizzes and Twitter-like SmartFeeds keeps your team always up to date with latest information.
          </h3>
          <p align="center"><a class="ml-button" href="/request-demo">Request for demo</a></p>
        </div>
      </div>
      <!-- </div> -->
      <!-- <div class="col-md-6 col-sm-12"> -->
      <!-- </div> -->
    </div>
  </div>
  <div class="ml-green-tile padding50">
    <div class="row ml-container">
      <div class="col-md-6 col-sm-12">
        <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/easy_toISe.svg" class="pfbigimage image50" />
      </div>
      <div class="col-md-6 col-sm-12 padding50">
        <h1 class="text-center ml-title">Intuitive and Easy to use</h1>
        <h2 class="">
          It takes less than 1 minute to create a question. Users can take quizzes very easily anytime, anywhere. You can set-up a competition in 2 minutes.
        </h2>
      </div>
    </div>
  </div>
  <div class="ml-this-tile padding50">
    <div class="row ml-container">
      <div class="col-md-6 col-sm-12 padding80">
        <h1 class="text-center ml-title">Identify Knowledge Gaps at a Glance</h1>
        <h2 class="ml-desc-text">
          Smartwinnr's AI engine identifies knowledge gaps in your team and automagically sends individualized SmartQuizzes and SmartFeeds. You can visualize the gaps through heatmaps and other easy to use charts.
        </h2>
      </div>
      <div class="col-md-6 col-sm-12">
        <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/heatmap.svg" class="pfbigimage image40 rotate-0" />
      </div>
    </div>
  </div>
  <div class="ml-green-tile padding50">
    <div class="row ml-container">
      <div class="col-md-6 col-sm-12">
        <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/quiz_stats.svg" class="pfbigimage image40 rotate-1" />
      </div>
      <div class="col-md-6 col-sm-12 padding80">
        <h1 class="text-center ml-title">Make Learning as Fun and Engaging</h1>
        <h2 class="">
          Gamification elements like competitions, leaderboards, badges, and levels keep the users engaged and increase completion rates.
        </h2>
      </div>
    </div>
  </div>
  <div class="ml-container ml-margin-bottom100">
    <div class="row text-center">
        <h1 class="ml-title">Feature by feature</h1>
    </div>
    <!-- Product Features Row 1 -->
    <div class="row ml-prodfeaturerow ml-padding-top">
      <h2 class="ml-title text-center">User Experience</h2>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator ml-prodfeaturecell">
          <span class="icon-paper-plane fs40 icon_blue"></span>
          <!-- <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/easy_authoring.svg" class="qpicon"> -->
          <h4 class="text-center">Intuitive and Easy-to-use</h4>
          <p class="ml_body_text_black ml_f15">Reps can start quiz in 1 click with no prior training which leads to high engagement.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator ml-prodfeaturecell">
          <span class="icon-smartphone fs40 icon_blue"></span>
          <!-- <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/rich_media_content.svg" class="qpicon"> -->
          <h4 class="text-center">Mobile Device Enabled</h4>
          <p class="ml_body_text_black ml_f15">
            Runs in iPhone, iPad, Android smartphones and Android tablets so that reps can take quizzes anytime, anywhere.
          </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator ml-prodfeaturecell">
          <span class="icon-brain qpicon"></span>
          <!-- <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/deep_search.svg" class="qpicon"> -->
          <h4 class="text-center">Fun and Engaging</h4>
          <p class="ml_body_text_black ml_f15">
            Gamification elements like competitions, leaderboards, badges, and levels motivate reps, increase retention and transform learning into a high-engagement activity.
          </p>
        </div>
      </div>
    </div>
    <!-- Product Features  Row 2 -->
    <div class="row ml-prodfeaturerow ml-padding-top">
      <h2 class="ml-title text-center">Quiz/Question Management - for Trainers/Managers</h2>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator ml-prodfeaturecell">
          <span class="icon-pen2 fs40 icon_blue"></span>
          <!-- <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/easy_authoring.svg" class="qpicon"> -->
          <h4 class="text-center">Easy Authoring</h4>
          <p class="ml_body_text_black ml_f15">
            Trainers/managers can create a question in 1 minute, using our intuitive web-based authoring tool without any IT intervention.
          </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator ml-prodfeaturecell">
          <span class="icon-picture2 fs40 icon_blue"></span>
          <!-- <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/rich_media_content.svg" class="qpicon"> -->
          <h4 class="text-center">Rich-Media Support</h4>
          <p class="ml_body_text_black ml_f15">
            Embed images, videos and rich media text in questions and explanations for an immersive experience
          </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator ml-prodfeaturecell">
          <span class="icon-list3 fs40 icon_blue"></span>
          <!-- <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/classify_questions.svg" class="qpicon"> -->
          <h4 class="text-center">Multiple Languages</h4>
          <p class="ml_body_text_black ml_f15">
            Questions can be created in Unicode based languages like Chinese, Japanese, etc. making SmartWinnr extremely flexible and usable in different geographical regions.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator ml-prodfeaturecell">
          <span class="icon-copy fs40 icon_blue"></span>
          <!-- <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/different_question_types.svg" class="qpicon"> -->
          <h4 class="text-center">Multiple Question Types</h4>
          <p class="ml_body_text_black ml_f15">
            Create question by different question types like single option, multi-choice, fill-in-the-blanks and timed questions
          </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator ml-prodfeaturecell">
          <span class="icon-sync2 fs40 icon_blue"></span>
          <!-- <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/reusable_questions.svg" class="qpicon"> -->
          <h4 class="text-center">Reusable Questions</h4>
          <p class="ml_body_text_black ml_f15">Use the Question Bank to create different quizzes from the same set of questions</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator ml-prodfeaturecell">
          <span class="icon-file-preview fs40 icon_blue"></span>
          <!-- <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/deep_search.svg" class="qpicon"> -->
          <h4 class="text-center">Deep Search</h4>
          <p class="ml_body_text_black ml_f15">
            Find questions, SmartFeeds or users by keywords, using the inbuilt deep search functionality, making it extremely easy to use.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator ml-prodfeaturecell">
          <span class="icon-lamp fs40 icon_blue"></span>
          <!-- <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/schedule_quiz.svg" class="qpicon"> -->
          <h4 class="text-center">Automated Quiz</h4>
          <p class="ml_body_text_black ml_f15">
            Let SmartWinnr automatically send periodic SmartQuizzes and SmartFeeds to individuals based on their knowledge gaps.
          </p>
        </div>
      </div>
    </div>
    <!-- Product Features  Row 3 -->
    <div class="row ml-prodfeaturerow ml-padding-top">
      <h2 class="ml-title text-center">Gamification</h2>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator ml-prodfeaturecell">
          <span class="icon-trophy fs40 icon_red1"></span>
          <!-- <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/gamification_engine.svg" class="qpicon"> -->
          <h4 class="text-center">Gamification Engine</h4>
          <p class="ml_body_text_black ml_f15">Increase user engagement through our adaptive gamification engine</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator ml-prodfeaturecell">
          <span class="icon-diamond2 fs40 icon_red1"></span>
          <!-- <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/leaderboard.svg" class="qpicon"> -->
          <h4 class="text-center">Leaderboards</h4>
          <p class="ml_body_text_black ml_f15">Get real-time competitive ranking through leaderboards</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator ml-prodfeaturecell">
          <span class="icon-podium fs40 icon_red1"></span>
          <!-- <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/badges.svg" class="qpicon"> -->
          <h4 class="text-center">Competitions</h4>
          <p class="ml_body_text_black ml_f15">Motivate users through performance-based customized badges</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator ml-prodfeaturecell">
          <span class="icon-medal-empty fs40 icon_red1"></span>
          <!-- <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/badges.svg" class="qpicon"> -->
          <h4 class="text-center">Badges</h4>
          <p class="ml_body_text_black ml_f15">Motivate users through performance-based customized badges</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator ml-prodfeaturecell">
          <span class="icon-resize-handle fs40 icon_red1"></span>
          <!-- <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/levels.svg" class="qpicon"> -->
          <h4 class="text-center">Levels</h4>
          <p class="ml_body_text_black ml_f15">Track progress in each topic through knowledge levels</p>
        </div>
      </div>
    </div>
    <!-- Product Features  Row 4 -->
    <div class="row ml-prodfeaturerow ml-padding-top">
      <h2 class="ml-title text-center">Analytics</h2>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator ml-prodfeaturecell">
          <span class="icon-chart-bars fs40 icon_red2"></span>
          <!-- <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/realtime_analytics.svg" class="qpicon"> -->
          <h4 class="text-center">Real-time Analytics</h4>
          <p class="ml_body_text_black ml_f15">Get actionable insights through drill-down analytics by region, user or topic</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator ml-prodfeaturecell">
          <span class="icon-icons fs40 icon_red2"></span>
          <!-- <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/heatmap_analytics.svg" class="qpicon"> -->
          <h4 class="text-center">HeatMap Analytics</h4>
          <p class="ml_body_text_black ml_f15">Easily identify knowledge gaps through color-coded HeatMaps</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator ml-prodfeaturecell">
          <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/granular_comparisions.svg" class="qpicon" /><h4 class="text-center">Granular Comparisons</h4>
          <p class="ml_body_text_black ml_f15">Compare performance between individuals, teams or regions</p>
        </div>
      </div>
    </div>
    <!-- Product Features  Row 5 -->
    <div class="row ml-prodfeaturerow ml-padding-top">
      <h2 class="ml-title text-center">Communication</h2>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator ml-prodfeaturecell">
          <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/activity_stream.svg" class="qpicon" /><h4 class="text-center">Activity Stream</h4>
          <p class="ml_body_text_black ml_f15">Get all updates in the app in a single stream for quick action</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator ml-prodfeaturecell">
          <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/push_notifications.svg" class="qpicon" /><h4 class="text-center">Push Notifications</h4>
          <p class="ml_body_text_black ml_f15">Get real-time updates through in-app push notifications</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator ml-prodfeaturecell">
          <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/push_notifications.svg" class="qpicon" /><h4 class="text-center">Email Notifications</h4>
          <p class="ml_body_text_black ml_f15">Get email notifications on new SmartQuiz/SmartFeed assignment</p>
        </div>
      </div>
    </div>
    <!-- Product Features  Row 6 -->
    <div class="row ml-prodfeaturerow ml-padding-top">
      <h2 class="ml-title text-center">Security and Access</h2>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator ml-prodfeaturecell">
          <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/rich_media_content.svg" class="qpicon" /><h4 class="text-center">Encrypted Communication</h4>
          <p class="ml_body_text_black ml_f15">Secured communication through SSL encryption and encrypted data storage</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator ml-prodfeaturecell">
          <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/rich_media_content.svg" class="qpicon" /><h4 class="text-center">Access Control</h4>
          <p class="ml_body_text_black ml_f15">Provide individuals limited access based on roles </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center bottom-separator ml-prodfeaturecell">
          <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/prodfeatures/single_signon.svg" class="qpicon" /><h4 class="text-center">Single Sign-on</h4>
          <p class="ml_body_text_black ml_f15">Access SmartWinnr using Single Sign-on using your corporate identity provider</p>
        </div>
      </div>
    </div>
  </div>
</section>
