<section>
  <div class="text-center ml-green-tile padding100">
    <div class="container">
      <h2>Resources</h2>
      <h3 class="ml_body_text_white ml_f32">Looking for more information on how SmartWinnr can drive your team performance? You can find them here.</h3>
      <div>
        <ul class="resources_icon_tab"><li>
            <a class="" href="#videos"><span class="icon-play fs80 icon_white"></span></a>
            <h4>Videos</h4>
          </li>
          <li>
            <a class="" href="#whitepapers"><span class="icon-menu-square fs80 icon_white"></span></a>
            <h4>Whitepapers</h4>
          </li>
          <li>
            <a class="" href="#caseStudies"><span class="icon-folder-search fs80 icon_white"></span></a>
            <h4>Case Studies</h4>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <h1 class="ml-title text-center" id="videos">Videos</h1>
      <div class="col-md-6 col-sm-12">
        <iframe class="ml-youtube-video" frameborder="0" allowfullscreen="" src="https://www.youtube.com/embed/Ym_0EIl-JDQ"></iframe>
      </div>
      <div class="col-md-6 col-sm-12">
        <iframe class="ml-youtube-video" frameborder="0" allowfullscreen="" src="https://www.youtube.com/embed/w0DAUoYGpSc"></iframe>
      </div>
    </div>
  </div>
  <div class="container text-center">
    <h1 class="ml-title" id="whitepapers">Whitepapers</h1>
    <div class="row">
      <div class="col-md-12 col-sm-12">
          <a href="https://s3-eu-west-1.amazonaws.com/content.smartwinnr.com/SmartWinnr+Information+Security+Whitepaper.pdf" target="_blank">
            <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/information_security_cover.png" class="mythumbnail" /></a>
          <a href="https://s3-eu-west-1.amazonaws.com/content.smartwinnr.com/The+SmartWinnr+Way+-+A+New+Approach+To+Compliance+Training.pdf" target="_blank">
            <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/smartwinnr_way_new_appraoch.png" class="mythumbnail" /></a>
      </div>
    </div>
  </div>
  <div class="container text-center">
    <h1 class="ml-title" id="caseStudies">Case Studies</h1>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <a href="https://s3-eu-west-1.amazonaws.com/content.smartwinnr.com/Case+Study+-+Improving+Information+Retention+in+Compliance+Retention.pdf" target="_blank">
          <img src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/Case+Study+-+Improving+Information+Retention+cover.png" class="mythumbnail" /></a>
      </div>
    </div>
  </div>
</section>
