<section>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <img src="/images/sales_training_2.png" class="pfbigimage" />
    </div>
    <h1 class="ml_text_over_image">Develop a world class sales team with knowledge as a competitive advantage.</h1>
  </div>
  <div class="ml-green-tile padding30">
      <div class="row container">
        <div class="col-md-12">
          <h1 class="ml-title text-center">SmartWinnr Solutions</h1>
          <div class="ml_padding_top_bottom">
            <p class="ml_body_text_white">
              Is your sales team struggling to remember features, advantages, and benefits of your products? Are they up-to-date with your competitor information? Are they communicating the right product messaging to your customers?
            </p>
            <p class="ml_body_text_white">
              Enable your sales team to retain crucial product information effectively, in a fun and engaging manner in spite of a complicated product portfolio or an evolving one. Use SmartWinnr to engage, motivate and train your team in order to empower them to drive better sales numbers.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="ml-this-tile">
    <div class="container table_container">
      <div class="row ml_box_container table_row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 table_col ml_left_side ml_l1_color">
          <div class="">
            <div class="">
              <span class="icon-aim fs80 icon_white"></span>
              <h4 class="ml_body_text_white">Measure Capabilities and Identify Gaps in your Sales Team</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 table_col ml_right_side">
          <div class="">
            <p class="ml_body_text_black">
              You can only manage what you can measure. With SmartWinnr, you can identify the knowledge gaps at an individual, team and geography level.  Take corrective actions before gaps in product knowledge start impacting sales performance.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- paragraph3 -->
  <div class="ml-this-tile">
    <div class="container table_container">
      <div class="row ml_box_container table_row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 table_col ml_right_side">
          <div class="">
            <p class="ml_body_text_black ml_f15">
              80% of information delivered during any training session is lost within 90 days. It is also expensive to gather your sales team away from actual selling for follow-up sessions. SmartWinnr dynamically monitors knowledge levels of individual sales reps and provide them reinforcements that they can read anytime, anywhere.
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 table_col ml_left_side ml_l2_color">
          <div class="">
            <div class="">
              <span class="icon-bag-dollar fs80 icon_white"></span>
              <h4 class="ml_h4 ml_body_text_white">Reduce Cost while Training a Geographically Distributed Team</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- paragraph4 -->
  <div class="ml-this-tile">
    <div class="container table_container">
      <div class="row ml_box_container table_row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 table_col ml_left_side ml_l1_color">
          <div class="">
            <div class="">
              <span class="icon-reading fs80 icon_white"></span>
              <h4 class="ml_h4 ml_body_text_white">Improve Learning through Scientific and Automated Reinforcements</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 table_col ml_right_side">
          <div class="">
            <p class="ml_body_text_black ml_f15">
              SmartWinnr's automated quizzes and Twitter-like SmartFeed strikes the right balance between sharing crucial information in short bursts to refresh knowledge and using the questioning approach to retain that knowledge.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- paragraph5 -->
  <div class="ml-this-tile">
    <div class="container table_container">
      <div class="row ml_box_container table_row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 table_col ml_right_side">
          <div class="">
            <p class="ml_body_text_black ml_f15">
              Keeping sales reps engaged while imparting product knowledge is a big challenge. SmartWinnr's built-in gamification engine helps to keep the engagement level high. Create competitions and reward performance based on leaderboard rankings, badges and levels attained. Higher engagement also increases compliance and retention levels.
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 table_col ml_left_side ml_l2_color">
          <div class="">
            <div class="">
              <span class="icon-trophy fs80 icon_white"></span>
              <h4 class="ml_h4 ml_body_text_white">Increase Engagement Through Gamification</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- paragraph6 -->
  <div class="ml-this-tile">
    <div class="container table_container">
      <div class="row ml_box_container table_row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 table_col ml_left_side ml_l1_color">
          <div class="">
            <div class="">
              <span class="icon-list3 fs80 icon_white"></span>
              <h4 class="ml_h4 ml_body_text_white">Use One Channel to Train Partners, Distributors, and Customers</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 table_col ml_right_side">
          <div class="">
            <p class="ml_body_text_black ml_f15">
              Training your channel partners, distributors and customers on new product features is often expensive and difficult to do. SmartWinnr can help you give the right product knowledge to all your stakeholders through an easy-to-use platform.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- paragraph7 -->
  <div class="ml-this-tile">
    <div class="container table_container">
      <div class="row ml_box_container table_row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 table_col ml_right_side">
          <div class="">
            <p class="ml_body_text_black ml_f15">
              SmartSurvey - integrated in SmartWinnr - can help sales reps take direct feedback from customers during a meeting. This can help your product development and marketing team to test their hypothesis during product development phase.
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 table_col ml_left_side ml_l2_color">
          <div class="">
            <div class="">
              <span class="icon-thumbs-up fs80 icon_white"></span>
              <h4 class="ml_h4 ml_body_text_white">Gain Valuable Feedback from your Customers without overwhelming them</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

 <!-- paragraph8 -->
 <div class="ml-this-tile">
   <div class="container table_container">
     <div class="row ml_box_container table_row">
       <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 table_col ml_left_side ml_l1_color">
         <div class="">
           <div class="">
             <span class="icon-graph fs80 icon_white"></span>
           </div>
         </div>
       </div>
       <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 table_col ml_right_side">
         <h4 class="ml-title">Specific Use Cases in Sales</h4>
         <!-- <p class="ml_body_text_black ml_f15"> -->
         <ul>
           <li class="ml_body_text_black ml-list-style-disc">New Product/Service Launch</li>
           <li class="ml_body_text_black ml-list-style-disc">Refresher Trainings</li>
           <li class="ml_body_text_black ml-list-style-disc">Prepare for Certification Exams</li>
           <li class="ml_body_text_black ml-list-style-disc">Onboarding of New Sales Reps</li>
           <li class="ml_body_text_black ml-list-style-disc">Train Your Distributors, Channel Partners, Customers</li>
         </ul>
       </div>
     </div>
   </div>
 </div>
</section>
