<section>
  <!-- <div class="ml-container">
    <div class="row ml-start ml-margin-bottom0">
      <div class="col-lg-4 col-md-4 col-sm-3 col-xs-12 ml-text-over-image">
        <h1>Develop a world class sales team with knowledge as a competitive advantage.</h1>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12">
        <img class="ml-image" alt="Image" src="/images/sales_image.svg"/>
      </div>
    </div>
  </div> -->
  <div class="ml_top_container ml-sales">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 ml-text-on-image">
        <h1>Develop a world class sales team with knowledge as a competitive advantage.</h1>
      </div>
      <!-- <img class="ml-sales-image" alt="Image" src="/images/sales_image.svg"/> -->
      <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12 ml-sales-use-case">
        <p class="ml-bold-text ml_body_text_black">Specific Use Cases in Sales</p>
        <ul>
          <li class="ml_body_text_black ml-list-style-disc">New Product/Service Launch</li>
          <li class="ml_body_text_black ml-list-style-disc">Refresher Trainings</li>
          <li class="ml_body_text_black ml-list-style-disc">Prepare for Certification Exams</li>
          <li class="ml_body_text_black ml-list-style-disc">Onboarding of New Sales Reps</li>
          <li class="ml_body_text_black ml-list-style-disc">Train Your Distributors, Channel Partners, Customers</li>
        </ul>
      </div>
    </div>
  </div>


  <!-- <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <img src="/images/sales_training_2.png" class="pfbigimage" />
    </div>
    <h1>Develop a world class sales team with knowledge as a competitive advantage.</h1>
  </div> -->
  <!-- <div class="ml-green-tile padding30">
      <div class="row ml-container">
        <div class="col-md-12">
          <h1 class="ml-title text-center">SmartWinnr Solutions</h1>
          <div class="ml_padding_top_bottom">
            <p class="ml_body_text_white">
              Is your sales team struggling to remember features, advantages, and benefits of your products? Are they up-to-date with your competitor information? Are they communicating the right product messaging to your customers?
            </p>
            <p class="ml_body_text_white">
              Enable your sales team to retain crucial product information effectively, in a fun and engaging manner in spite of a complicated product portfolio or an evolving one. Use SmartWinnr to engage, motivate and train your team in order to empower them to drive better sales numbers.
            </p>
          </div>
        </div>
      </div>
    </div> -->
    <!-- paragraph8 -->
    <!-- <div class="ml-this-tile padding30">
      <div class="container table_container">
        <div class="row table_row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 table_col ml_left_side ml-tile-image">
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 table_col ml_right_side">
            <p class="ml-bold-text">Specific Use Cases in Sales - Growing</p>
            <p class="ml_body_text_black">
            <ul>
              <li class="ml_body_text_black ml-list-style-disc">New Product/Service Launch</li>
              <li class="ml_body_text_black ml-list-style-disc">Refresher Trainings</li>
              <li class="ml_body_text_black ml-list-style-disc">Prepare for Certification Exams</li>
              <li class="ml_body_text_black ml-list-style-disc">Onboarding of New Sales Reps</li>
              <li class="ml_body_text_black ml-list-style-disc">Train Your Distributors, Channel Partners, Customers</li>
            </ul>
          </div>
        </div>
      </div>
    </div> -->
    <!-- <div class="ml-background-light padding30">
      <div class="ml-container">
        <div class="row table_row ml-margin-bottom0">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 table_col ml_left_side">
              <img style="width: 100%; height: 300px;" class="ml-tile-image" src="/images/undraw_growing_rk7d.svg" alt="">
          </div>
          <div style="background: transparent" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 table_col ml_right_side ml-centered-half">
            <p class="ml-bold-text ml_body_text_black">Specific Use Cases in Sales</p>
            <ul>
              <li class="ml_body_text_black ml-list-style-disc">New Product/Service Launch</li>
              <li class="ml_body_text_black ml-list-style-disc">Refresher Trainings</li>
              <li class="ml_body_text_black ml-list-style-disc">Prepare for Certification Exams</li>
              <li class="ml_body_text_black ml-list-style-disc">Onboarding of New Sales Reps</li>
              <li class="ml_body_text_black ml-list-style-disc">Train Your Distributors, Channel Partners, Customers</li>
            </ul>
          </div>
        </div>
      </div>
    </div> -->
    <!-- paragraph2 -->
    <div class="ml-this-tile">
    <div class="ml-container table_container">
      <div class="row table_row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 table_col ml_left_side">
          <!-- <span class=""> -->
            <img style="width: 100%; height: 300px;" class="ml-tile-image" src="/images/undraw_in_the_office_o44c.svg" alt="">
          <!-- </span> -->
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 table_col ml_right_side">
          <div class="ml-padding-right30">
            <p class="ml_body_text_black ml-font20 text-center ml-bold-text">Measure Capabilities and Identify Gaps in your Sales Team</p>
            <p class="ml_body_text_black">
              You can only manage what you can measure. With SmartWinnr, you can identify the knowledge gaps at an individual, team and geography level.  Take corrective actions before gaps in product knowledge start impacting sales performance.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- paragraph3 -->
  <div class="ml-this-tile">
    <div class="ml-container table_container">
      <div class="row table_row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 table_col ml_right_side">
          <div class="ml-padding-left30">
            <p class="ml_body_text_black ml-font20 text-center ml-bold-text">Reduce Cost while Training a Geographically Distributed Team</p>
            <p class="ml_body_text_black">
              80% of information delivered during any training session is lost within 90 days. It is also expensive to gather your sales team away from actual selling for follow-up sessions. SmartWinnr dynamically monitors knowledge levels of individual sales reps and provide them reinforcements that they can read anytime, anywhere.
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 table_col ml_left_side">
          <!-- <span class=""> -->
            <img style="width: 100%; height: 300px;" class="ml-tile-image" src="/images/undraw_choose_80qg.svg" alt="">
          <!-- </span> -->
        </div>
      </div>
    </div>
  </div>

  <!-- paragraph4 -->
  <div class="ml-this-tile">
    <div class="ml-container table_container">
      <div class="row table_row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 table_col ml_left_side">
          <!-- <span class=""> -->
            <img style="width: 100%; height: 300px;" class="ml-tile-image" src="/images/undraw_finance_0bdk.svg" alt="">
          <!-- </span> -->
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 table_col ml_right_side">
          <div class="ml-padding-right30">
            <p class="ml_body_text_black ml-font20 text-center ml-bold-text">Improve Learning through Scientific and Automated Reinforcements</p>
            <p class="ml_body_text_black">
              SmartWinnr's automated quizzes and Twitter-like SmartFeed strikes the right balance between sharing crucial information in short bursts to refresh knowledge and using the questioning approach to retain that knowledge.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- paragraph5 -->
  <div class="ml-this-tile">
    <div class="ml-container table_container">
      <div class="row table_row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 table_col ml_right_side">
          <div class="ml-padding-left30">
            <p class="ml_body_text_black ml-font20 text-center ml-bold-text">Increase Engagement Through Gamification</p>
            <p class="ml_body_text_black">
              Keeping sales reps engaged while imparting product knowledge is a big challenge. SmartWinnr's built-in gamification engine helps to keep the engagement level high. Create competitions and reward performance based on leaderboard rankings, badges and levels attained. Higher engagement also increases compliance and retention levels.
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 table_col ml_left_side">
          <!-- <span> -->
            <img style="width: 100%; height: 300px;" class="ml-tile-image" src="/images/undraw_floating_61u6.svg" alt="">
          <!-- </span> -->
        </div>
      </div>
    </div>
  </div>

  <!-- paragraph6 -->
  <div class="ml-this-tile">
    <div class="ml-container table_container">
      <div class="row table_row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 table_col ml_left_side">
          <!-- <span class=""> -->
            <img style="width: 100%; height: 300px;" class="ml-tile-image" src="/images/undraw_experts3_3njd.svg" alt="">
          <!-- </span> -->
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 table_col ml_right_side">
          <div class="ml-padding-right30">
            <p class="ml_body_text_black ml-font20 text-center ml-bold-text">Use One Channel to Train Partners, Distributors, and Customers</p>
            <p class="ml_body_text_black">
              Training your channel partners, distributors and customers on new product features is often expensive and difficult to do. SmartWinnr can help you give the right product knowledge to all your stakeholders through an easy-to-use platform.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- paragraph7 -->
  <div class="ml-this-tile">
    <div class="ml-container table_container">
      <div class="row table_row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 table_col ml_right_side">
          <div class="ml-padding-left30">
            <p class="ml_body_text_black ml-font20 text-center ml-bold-text">Gain Valuable Feedback from your Customers without overwhelming them</p>
            <p class="ml_body_text_black">
              SmartSurvey - integrated in SmartWinnr - can help sales reps take direct feedback from customers during a meeting. This can help your product development and marketing team to test their hypothesis during product development phase.
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 table_col ml_left_side">
          <!-- <span class=""> -->
            <img style="width: 100%; height: 300px;" class="ml-tile-image" src="/images/undraw_checklist_7q37.svg" alt="">
          <!-- </span> -->
        </div>
      </div>
    </div>
  </div>
  {{ partial "why-choose-sm" . }}

</section>
