<section class="" style="height: 100% !important;">
  <div class="ml-container">
    <div class="row ml-start ml-margin-bottom0">
      <div class="col-lg-4 col-md-4 col-sm-3 col-xs-12 ml-text-over-image">
        <h1>Drive Team Performance Through Better Knowledge</h1>
        <h3>Help your team to be smarter, sell more and stay compliant through AI-driven gamified short quizzes and micro-learning feeds.</h3>
        <p align="center" class="ml-padding-top ml-padding-bottom10"><a class="ml-button" align="center" href="/request-demo">Request for demo</a></p>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12">
        <img class="ml-image" alt="Image" src="../images/prodfeaturesmain.png">
      </div>
    </div>
  </div>
</section>




<!-- <section class="">
  <div class="ml-container">
    <div class="row ml-start ml-margin-bottom0">
      <div class="col-lg-4 col-md-4 col-sm-3 col-xs-12 ml-text-over-image">
        <h1>Drive Team Performance Through Better Knowledge</h1>
        <h3>Help your team to be smarter, sell more and stay compliant through AI-driven gamified short quizzes and micro-learning feeds.</h3>
        <p align="center" class="ml-padding-top ml-padding-bottom10"><a class="ml-button" align="center" href="/request-demo">Request for demo</a></p>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12">
        <img class="ml-image" alt="Image" src="../images/prodfeaturesmain.png"/>
      </div>
    </div>
  </div>
</section> -->


<!-- <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
  <h1 class="ml_h1">Drive Team Performance Through Better Knowledge</h1>
  <h2 class="ml-desc-text paddingbottom25px">
    <i>SmartWinnr is a gamified platform that helps your team to be smarter, sell more and stay compliant through regular short quizzes and micro-learning feeds.</i>
  </h2>
  <a class="colorbox-node btn btn-warning" href="./?q=node/12">Request for demo</a>
</div> -->
<!-- <img class="ml-image" alt="Image" src="../images/prodfeaturesmain.png"/>
<div class="ml-text-over-image">
  <h1>Drive Team Performance Through Better Knowledge</h1>
  <h3>Help your team to be smarter, sell more and stay compliant through AI-driven gamified short quizzes and micro-learning feeds.</h3>
  <p align="center" class="ml-margin-top10"><a class="ml-button" align="center" href="./?q=node/12">Request for demo</a></p>
</div> -->
