<section class="">
  <div class="ml-container">
    <div class="row ml-start ml-margin-bottom0">
      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 ml-text-over-image">
        <h1>Get your team to sell smarter, better, faster</h1>
        <h4>Its difficult to keep your sales team up-to-date with latest product knowledge, guarantee a uniform messaging when they are talking to customers, and motivate them to bring in high sales numbers.</h4></br>

        <h4>SmartWinnr fixes all that. We use</h4>
        <ul>
          <li>Continuous coaching to improve customer interactions</li>
          <li>Competitions and Gamified KPIs to boost sales</li>
          <li>AI-driven assessments and regular reinforcements to drive product knowledge</li>
        </ul>

        <p align="center" class="ml-padding-top ml-padding-bottom10"><a class="ml-button" align="center" href="/request-demo">Request demo</a></p>
      </div>
      <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <img class="ml-image ml-margin-top0" alt="Image" src="../images/homepage_Gamify_KPIs.webp">
      </div>
    </div>
  </div>
</section>




<!-- <section class="">
  <div class="ml-container">
    <div class="row ml-start ml-margin-bottom0">
      <div class="col-lg-4 col-md-4 col-sm-3 col-xs-12 ml-text-over-image">
        <h1>Drive Team Performance Through Better Knowledge</h1>
        <h3>Help your team to be smarter, sell more and stay compliant through AI-driven gamified short quizzes and micro-learning feeds.</h3>
        <p align="center" class="ml-padding-top ml-padding-bottom10"><a class="ml-button" align="center" href="/request-demo">Request demo</a></p>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12">
        <img class="ml-image" alt="Image" src="../images/prodfeaturesmain.png"/>
      </div>
    </div>
  </div>
</section> -->


<!-- <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
  <h1 class="ml_h1">Drive Team Performance Through Better Knowledge</h1>
  <h2 class="ml-desc-text paddingbottom25px">
    <i>SmartWinnr is a gamified platform that helps your team to be smarter, sell more and stay compliant through regular short quizzes and micro-learning feeds.</i>
  </h2>
  <a class="colorbox-node btn btn-warning" href="./?q=node/12">Request demo</a>
</div> -->
<!-- <img class="ml-image" alt="Image" src="../images/prodfeaturesmain.png"/>
<div class="ml-text-over-image">
  <h1>Drive Team Performance Through Better Knowledge</h1>
  <h3>Help your team to be smarter, sell more and stay compliant through AI-driven gamified short quizzes and micro-learning feeds.</h3>
  <p align="center" class="ml-margin-top10"><a class="ml-button" align="center" href="./?q=node/12">Request demo</a></p>
</div> -->
