<section class="ml-start">
  <div class="container">
    <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 paddingbottom30px">
      <h1 class="ml_h1">Drive Team Performance Through Better Knowledge</h1>
      <h2 class="ml-desc-text paddingbottom25px">
        <i>SmartWinnr is a gamified platform that helps your team to be smarter, sell more and stay compliant through regular short quizzes and micro-learning feeds.</i>
      </h2>
      <a class="colorbox-node btn btn-warning" href="./?q=node/12">Request for demo</a>
    </div>
    <div></div>
    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
      <img class="ml-image" alt="Image" src="../images/prodfeaturesmain.png"/>
    </div>
  </div>
</section>
