<div class="container container-ex">
  <div class="inner">
    <!-- {{ if not .IsHome }}
    {{/* partial "breadcrumb.html" . */}}
    {{ end }} -->

    {{ range where .Site.Pages "Section" "blog" }}
    {{ if eq .Params.isFeatured true }}
    <div class="">
      <div class="row ml-featured-blog">
        <div class="col-sm-8">
          <div class="ml-featured-card">
            <div class="ml-featured-card-header">
              {{ with .Params.featured_image }}<img class="ml-featured-blog-image" center-align src="{{ . }}">{{ end }}
              <a class="ml-font20" href="{{ .Permalink }}">{{ .Title }}</a>
              <div class="row">
                <div class="col-sm-6 col-md-6">
                  <h6 class="ml_body_text_black ml-font12">{{ .Date.Format "Mon Jan 2 2006" }}</h6>
                </div>
                <div class="col-sm-6 col-md-6">
                  <h6 class="ml_body_text_black ml-font12 reading-time">Reading Time : {{ .ReadingTime }} minutes</h6>
                </div>
              </div>
            </div>
            <div class="ml-featured-card-content">
              {{ .Summary }} {{ if .Truncated }}
              <a class="ml_body_text_blue" href="{{ .Permalink }}">read more</a>
              {{ end }}
            </div>
            {{with .Params.tags}}
            <div class="ml-featured-card-tag">{{ range . }}
              <a class="ml-font16 ml_body_text_blue" href='{{ $.Site.BaseURL }}/tags/{{ (replace . "#" "%23") | urlize }}'>{{ . }}</a>{{ end }}
            </div>
            {{end}}
          </div>
        </div>
        <div class="col-sm-4">
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <div class="ml-subscribe">
                <!-- <aside class="promo "> -->
                  <div class="promo-content">
                    <h4 class="ml_body_text_black ml-font16 text-center">Subscribe to our blog</h4>
                        <h4 class="ml_body_text_black ml-font16">Get the latest posts in your email</h4>
                        <!-- <p class="subscription-success">
                          <strong>Thank you for subscribing!</strong>
                        </p> -->
                      <div class="subscription">
                        <iframe src="https://go.pardot.com/l/232142/2017-10-24/jk9v" width="100%" height="95" type="text/html" frameborder="0" allowTransparency="true" style="border: 0"></iframe>
                      </div>
                  </div>
                <!-- </aside> -->
              </div>
            </div>
            <div class="col-sm-12 col-md-12">
              <div class="ml-subscribe">
                <!-- <aside class="promo "> -->
                  <div class="promo-content">
                    <h4 class="ml_body_text_black ml-font16 text-center">Subscribe to our blog</h4>
                        <h4 class="ml_body_text_black ml-font16">Get the latest posts in your email</h4>
                        <!-- <p class="subscription-success">
                          <strong>Thank you for subscribing!</strong>
                        </p> -->
                      <div class="subscription">
                        <iframe src="https://go.pardot.com/l/232142/2017-10-24/jk9v" width="100%" height="95" type="text/html" frameborder="0" allowTransparency="true" style="border: 0"></iframe>
                      </div>
                  </div>
                <!-- </aside> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      {{ end }}
      {{ end }}
    </div>


    <div class="waterfall">
      {{ $paginator := .Paginate (where .Data.Pages "Type" "blog") }}{{ range $paginator.Pages }}
      <div class="waterfall__item">
        <div class="card post post-summary reveal enter">
          <div class="card-header postinfo">
            {{ with .Params.featured_image }}<img src="{{ . }}">{{ end }}
            <span class="card-title">
              {{ if gt (len .Title) 40 }}
              <a class="ml-font20" href="{{ .Permalink }}">{{ slicestr .Title 0 40 }} {{ if .Draft }}:: DRAFT{{end}}...</a>
              {{ else }}
              <a class="ml-font20" href="{{ .Permalink }}">{{ .Title }} {{ if .Draft }}:: DRAFT{{end}}</a>
              {{ end }}
            </span>
            <div class="card-meta">
              <div class="row">
                <div class="col-sm-6 col-md-6">
                  <h6 class="ml_body_text_black ml-font12">{{ .Date.Format "Mon Jan 2 2006" }}</h6>
                </div>
                <div class="col-sm-6 col-md-6">
                  <h6 class="ml_body_text_black ml-font12 reading-time">{{ .ReadingTime }} minutes</h6>
                </div>
              </div>
              {{/* with .Params.categories */}}
              <!-- <address>
                {{/* range . */}}
                <a href='{{$.Site.BaseURL}}/categories/{{ (replace . "#" "%23") | urlize }}'>{{/* . */}}</a>
                {{/* end */}}
              </address> -->
              {{/* end */}}
            </div>
          </div>

          <div class="card-content">
            <article class="article">
              {{ slicestr .Summary 0 200 }} {{ if .Truncated }}
              <a class="ml_body_text_blue" href="{{ .Permalink }}">read more</a>
              {{ end }}
            </article>

          </div>

          {{with .Params.tags}}
          <div class="card-action card-action-links">{{ range . }}
            <a class="ml-font16 ml_body_text_blue" href='{{ $.Site.BaseURL }}/tags/{{ (replace . "#" "%23") | urlize }}'>{{ . }}</a>{{ end }}
          </div>
          {{end}}
        </div>
      </div>
      {{ end }}
    </div>
    <div class="center">
      <div class="pagination">
        {{ $paginator := .Paginate (where .Data.Pages "Type" "blog") }} {{ template "_internal/pagination.html" . }}
      </div>
    </div>
  </div>
</div>
