<section class="ml-when-sm">
  <div class="container">
    <h1 class="ml-doc-title text-center">When can you use SmartWinnr?</h1>
    <div class="padding30px">
      <ul class="nav nav-tabs"><li class="active"><a data-toggle="tab" href="#tab1-item1" aria-expanded="true">Sales</a></li>
          <li class=""><a data-toggle="tab" href="#tab1-item2" aria-expanded="false">Legal &amp; Compliance</a></li>
      </ul>
      <div class="tab-content container">
          <div id="tab1-item1" class="tab-pane fade active in">
            <div class="row">
              <!-- <h1 class="title textaligncenter">When can you use SmartWinnr?</h1> -->
                <div class="single-features">
                    <div class="col-sm-5 text-center">
                        <img alt="" class="ml-sideimage" src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/home/rocket_outline.png" /></div>
                    <div class="col-sm-6">
                        <h2 class="ml_h2 bluefont">New Product Launch</h2>
                        <p class="ml_body_text_black ml_f15">
                          Your reps should be highly knowledgeable on new product details to ensure sales success. Traditional approach relies on training and one-time assessments, which doesn’t help in knowledge retention. Use SmartWinnr to send automate individualized product information sharing. Create a set of challenge quizzes. The goal-oriented gamified quizzes will result in better learning and higher retention.
                        </p>
                    </div>
                </div>
                <div class="single-features">
                    <div class="col-sm-6 col-sm-offset-1">
                        <h2 class="ml_h2 bluefont">Onboarding New Sales Reps</h2>
                        <p class="ml_body_text_black ml_f15">
                          Organizations take up to 6 months to make new sales recruits fully productive. Use SmartWinnr to accelerate their learning on your organizational processes, culture, history, product knowledge and many more aspects. You can easily use SmartWinnr to create a set of SmartFeeds and SmartQuizzes which takes the new member through all that needs to be learned to be a successful member of your existing team.
                        </p>
                    </div>
                    <div class="col-sm-5 text-center">
                        <img alt="" class="ml-sideimage" src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/home/HandshakeWithoutFill.png" /></div>
                </div>
                <div class="single-features">
                    <div class="col-sm-5 text-center">
                      <img alt="" class="ml-sideimage" src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/home/activation.png" /></div>
                    <div class="col-sm-6">
                        <h2 class="ml_h2 bluefont">Sales Channel Activation</h2>
                        <p class="ml_body_text_black ml_f15">
                          SmartWinnr can be extended to your external stakeholders as well. Thus you can use it for total sales channel activation including your team and external distributors. Using SmartWinnr you can easily ensure that reps across channels are having the same level of information and product messaging on your new product or service.
                        </p>
                    </div>
                </div>
                <div class="single-features">
                    <div class="col-sm-6 col-sm-offset-1">
                        <h2 class="ml_h2 bluefont">Refresher Trainings</h2>
                        <p class="ml_body_text_black ml_f15">
                          Research shows about 80% of knowledge is lost within 90 days of any training. Give your reps a boost by creating refresher quizzes on product knowledge, sales techniques, and other concepts. Giving regular refresher quizzes can reduce training needs and help you save time and resources. SmartWinnr’s proprietary machine-learning engine automatically identifies individual gaps and sends appropriate SmartQuizzes and SmartFeeds.
                        </p>
                    </div>
                    <div class="col-sm-5 text-center">
                      <img alt="" class="ml-sideimage" src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/home/brain_line_image.png" /></div>
                </div>
            </div>
          </div>
          <div id="tab1-item2" class="tab-pane fade">
            <div class="single-features">
                <div class="col-sm-5 text-center">
                    <img alt="" class="ml-sideimage" src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/home/Raise_Compliance_Awareness.png" /></div>
                <div class="col-sm-6">
                    <h2 class="ml_h2 bluefont">Raise Compliance Awareness</h2>
                    <p class="ml_body_text_black ml_f15">
                      Lack of compliance awareness has been one of the top contributors to compliance breaches. Today's employees often struggle to keep up with frequent changes in regulations which lead to breaches. A one-time training is not effective in helping them retain the changes. SmartWinnr's combinations of regular automated SmartFeeds and SmartQuizzes is highly effective in long-term retention of regulatory knowledge.
                    </p>
                </div>
            </div>
            <div class="single-features">
                <div class="col-sm-6 col-sm-offset-1">
                    <h2 class="ml_h2 bluefont">Measure and Manage Compliance Knowledge</h2>
                    <p class="ml_body_text_black ml_f15">
                      Compliance breaches are best avoided through a proactive approach. A crucial element in that regard is measuring the compliance knowledge of your team. SmartWinnr provides automatic real-time analytics about knowledge levels at an individual, team and geography level. You can thus proactively identify issues in advance and take remedial measures.
                    </p>
                </div>
                <div class="col-sm-5 text-center">
                    <img alt="" class="ml-sideimage" src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/home/Measure_Manage_Compliance_Knowledg.png" /></div>
            </div>
            <div class="single-features">
                <div class="col-sm-5 text-center">
                  <img alt="" class="ml-sideimage" src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/home/Make_Regulatory_Training_Fun_Engaging.png" /></div>
                <div class="col-sm-6">
                    <h2 class="ml_h2 bluefont">Make Regulatory Training Fun and Engaging</h2>
                    <p class="ml_body_text_black ml_f15">
                      Employees often take regulatory training and assessment as a perfunctory exercise, often collaborating in answering mandatory assessments. SmartWinnr's gamification engine taps into their inherent competitive spirit to make compliance learning fun and engaging.
                    </p>
                </div>
            </div>
            <div class="single-features">
                <div class="col-sm-6 col-sm-offset-1">
                    <h2 class="ml_h2 bluefont">Train All Stakeholders on Compliance</h2>
                    <p class="ml_body_text_black ml_f15">
                      For regulated industries like BFSI, Pharma etc. it is often mandatory to train not only your direct employees but also all third-party service providers. This is often a costly affair, especially for geographically dispersed teams. SmartWinnr can significantly reduce compliance training costs through its algorithm-driven learning approach.
                    </p>
                </div>
                <div class="col-sm-5 text-center">
                  <img alt="" class="ml-sideimage" src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/home/Train_All_Stakeholders_on_Compliance.png" /></div>
            </div>
            <div class="single-features">
                <div class="col-sm-5 text-center">
                  <img alt="" class="ml-sideimage" src="https://s3-us-west-2.amazonaws.com/quizprompt.com.site.resources/img/brand/home/prepare_team_for_audit.png" /></div>
                <div class="col-sm-6">
                    <h2 class="ml_h2 bluefont">Prepare Team for Audits and Regulatory Exams</h2>
                    <p class="ml_body_text_black ml_f15">
                      Companies operating in regulated industries have to undergo mandatory audits. Often employees have to take periodic certification exams. SmartWinnr is often used by our customers as an effective way to help employees prepare for audits and certification exams.
                    </p>
                </div>
            </div>
          </div>
      </div>
  </div>
</div>
</section>
