<!-- <section class="ml-whySM">
  <div class="ml-container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h1 class="ml_body_text_white text-center">Ready To Make Your Entire Team More Effective?</h1>
        <div class="ml_body_text_white ml-subtext text-center">SmartWinnr is more than just software – when you use it, you get a playbook for team success.</div>
        <p align="center" class="ml-padding-top ml-padding-bottom10"><a class="ml-button" align="center" href="/request-demo">Request for demo</a></p>
      </div>
    </div>
  </div>
</section> -->


<section class="ml-whySM">
  <div class="ml-container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h1 class="ml_body_text_white text-center">Ready to double your sales numbers?</h1>
        <div class="ml_body_text_white ml-subtext text-center">Schedule a demo with our team to see how SmartWinnr can drive sales productivity in your organization. Or talk to us about your challenges and if SmartWinnr can help.</div>
        <!-- <p align="center" class="ml-padding-top ml-padding-bottom10"><a class="ml-button" align="center" href="/request-demo">Request for demo</a></p> -->
        <p class="ml-margin-top50 text-center">
          <a class="ml-button ml-margin-top30 ml-margin-right10" href="/request-demo">Request for demo</a>
          <a class="ml-button ml-margin-top30" href="/request-demo">Free Consultation</a>
        </p>
      </div>
    </div>
  </div>
</section>