<section class="ml-whySM">
  <div class="ml-container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h1 class="ml_body_text_white text-center">Ready To Make Your Entire Team More Effective?</h1>
        <p class="ml_body_text_white text-center">SmartWinnr is more than just software – when you use it, you get a playbook for team success.</p>
        <p align="center" class="ml-padding-top ml-padding-bottom10"><a class="ml-button" align="center" href="/request-demo">Request for demo</a></p>
      </div>
    </div>
  </div>
</section>
          <!-- <div class="row">
              <div class="col-md-3 col-sm-3 ">
                  <div class="single-service padding">
                      <div class="text-center home_icon">
                        <span class="icon-chart-growth fs80 icon_white"></span>
                      </div>
                      <h2 class="ml_h2 colorband text-center">Drive Performance</h2>
                      <p class="ml_body_text_white ml_f18 first_letter_capital">
                        Knowledge is a key ingredient for organization success - be it sales, customer support or any other role. SmartWinnr gives your team the right knowledge at the right time. The result - a high performing team that delivers results.
                      </p>
                  </div>
              </div>
              <div class="col-md-3 col-sm-3 ">
                  <div class="single-service padding">
                      <div class="text-center home_icon">
                        <span class="icon-bag-dollar fs80 icon_white"></span>
                      </div>
                      <h2 class="ml_h2 colorband text-center">Reduce Cost</h2>
                      <p class="ml_body_text_white ml_f18 first_letter_capital">
                        By reducing the need to get all participants in the same room and eliminating paper-based assessments, SmartWinnr helps enterprises to reduce training cost and free employee time for better productive use. Our customers have successfully reduced upto 40% of classroom trainings while driving the knowledge retention using SmartWinnr.
                      </p>
                  </div>
              </div>
              <div class="col-md-3 col-sm-3 ">
                  <div class="single-service padding">
                      <div class="text-center home_icon">
                        <span class="icon-hourglass fs80 icon_white"></span>
                      </div>
                      <h2 class="ml_h2 colorband text-center">Reduce Time and Effort</h2>
                      <p class="ml_body_text_white ml_f18 first_letter_capital">
                        The entire SmartWinnr platform is designed to reduce the effort required from Trainers and Managers. The extremely easy-to-use interface with centrally reusable Question Bank and SmartFeeds Bank, automated delivery of questions and feeds only makes it easier for the Trainers to manage team knowledge. Managers get in-depth analytics about the team knowledge health in realt-time.
                      </p>
                  </div>
              </div>
              <div class="col-md-3 col-sm-3 ">
                  <div class="single-service padding">
                      <div class="text-center home_icon">
                        <span class="icon-brain fs80 icon_white"></span>
                      </div>
                      <h2 class="ml_h2 colorband text-center">Increase Knowledge Retention</h2>
                      <p class="ml_body_text_white ml_f18 first_letter_capital">
                        SmartWinnr’s learning model is rooted in the elements of Cognitive Science. Regular and automated knowledge reinforcements help your executives to retain crucial information through continuous learning and to always be at the top of the knowledge curve.
                      </p>
                  </div>
              </div>
          </div> -->
