<nav id="main-nav" class="navbar navbar-default" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="toggle navbar-toggle" data-toggle="collapse" data-target=".navbar-top-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="https://smartwinnr.com"><img id="navbar-logo" src="{{ relURL "media/images/header/smartwinnr_white_logo.svg" }}" style="height:48px"></a>
    </div>

  </div>
</nav>
